In [77]:
import pandas as pd

# Control samples

# Sample 1

In [40]:
# df=pd.read_csv("ENST ID values.csv")

In [41]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.227683         NaN         NaN
1       ENST00000431386 -1.083615         NaN         NaN
2       ENST00000494424  4.209619         NaN         NaN
3       ENST00000446465  4.284462         NaN         NaN
4       ENST00000448682  3.083644         NaN         NaN
...                 ...       ...         ...         ...
121761  ENST00000269980  4.837285         NaN         NaN
121762  ENST00000378196  6.675379         NaN         NaN
121763  ENST00000457836  6.181755         NaN         NaN
121764  ENST00000317306  1.503543         NaN         NaN
121765  ENST00000379695  5.625564         NaN         NaN

[121766 rows x 4 columns]

In [48]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [49]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.227683
1       ENST00000431386 -1.083615
2       ENST00000494424  4.209619
3       ENST00000446465  4.284462
4       ENST00000448682  3.083644
...                 ...       ...
121761  ENST00000269980  4.837285
121762  ENST00000378196  6.675379
121763  ENST00000457836  6.181755
121764  ENST00000317306  1.503543
121765  ENST00000379695  5.625564

[121766 rows x 2 columns]

In [ ]:
# df2=['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
# 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
# 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
# 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
# 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
# 'ENST00000467436','ENST00000462323']

In [ ]:
# df2

In [53]:
#sample1=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [54]:
#sample1

                 ID_REF      VALUE
8823    ENST00000355812   3.327416
11345   ENST00000418823   4.205839
14055   ENST00000407724   7.211260
26721   ENST00000398569   3.734166
26724   ENST00000434085   4.864425
26790   ENST00000467436   8.361821
27526   ENST00000330266   2.973412
27535   ENST00000405975   2.973412
27539   ENST00000415080  -1.575419
31765   ENST00000461690   5.443041
33829   ENST00000305777   9.494352
33842   ENST00000489295  11.352656
49937   ENST00000413152   1.581672
51070   ENST00000462323   3.820520
51077   ENST00000475231   4.281915
51083   ENST00000480843   4.281915
52474   ENST00000411781   7.027397
62644   ENST00000369365   6.033708
64533   ENST00000461941   4.163899
65280   ENST00000358459  -3.678679
70466   ENST00000481409   9.077699
71727   ENST00000431642   6.252646
75565   ENST00000420419   6.779052
77647   ENST00000431758   6.836936
77648   ENST00000458606   6.836936
78404   ENST00000495315   1.937028
80454   ENST00000343854   4.060297
82132   ENST00000469736   4.610789
85135   ENST00000449813   7.074137
86768   ENST00000356026   4.910209
86774   ENST00000490017   4.910209
95388   ENST00000423372   9.095097
97318   ENST00000471396   6.233121
97321   ENST00000496222   6.233121
98730   ENST00000436646   3.497193
107717  ENST00000427071   5.611586
113031  ENST00000456205   6.795477

In [75]:
# sample1_sorted=sample1.sort_values(by='ID_REF')

In [76]:
# sample1_sorted

                 ID_REF      VALUE
33829   ENST00000305777   9.494352
27526   ENST00000330266   2.973412
80454   ENST00000343854   4.060297
8823    ENST00000355812   3.327416
86768   ENST00000356026   4.910209
65280   ENST00000358459  -3.678679
62644   ENST00000369365   6.033708
26721   ENST00000398569   3.734166
27535   ENST00000405975   2.973412
14055   ENST00000407724   7.211260
52474   ENST00000411781   7.027397
49937   ENST00000413152   1.581672
27539   ENST00000415080  -1.575419
11345   ENST00000418823   4.205839
75565   ENST00000420419   6.779052
95388   ENST00000423372   9.095097
107717  ENST00000427071   5.611586
71727   ENST00000431642   6.252646
77647   ENST00000431758   6.836936
26724   ENST00000434085   4.864425
98730   ENST00000436646   3.497193
85135   ENST00000449813   7.074137
113031  ENST00000456205   6.795477
77648   ENST00000458606   6.836936
31765   ENST00000461690   5.443041
64533   ENST00000461941   4.163899
51070   ENST00000462323   3.820520
26790   ENST00000467436   8.361821
82132   ENST00000469736   4.610789
97318   ENST00000471396   6.233121
51077   ENST00000475231   4.281915
51083   ENST00000480843   4.281915
70466   ENST00000481409   9.077699
33842   ENST00000489295  11.352656
86774   ENST00000490017   4.910209
78404   ENST00000495315   1.937028
97321   ENST00000496222   6.233121

# Sample3

In [2]:
import pandas as pd

In [3]:
# df=pd.read_csv("ENST ID values.csv")

In [4]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.064093         NaN         NaN
1       ENST00000431386  0.726340         NaN         NaN
2       ENST00000494424  4.077326         NaN         NaN
3       ENST00000496771  3.489308         NaN         NaN
4       ENST00000373031  4.620793         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.237505         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [5]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [6]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.064093
1       ENST00000431386  0.726340
2       ENST00000494424  4.077326
3       ENST00000496771  3.489308
4       ENST00000373031  4.620793
...                 ...       ...
121740  ENST00000379695  5.237505
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [7]:
# sample3=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [8]:
sample3

                 ID_REF      VALUE
8393    ENST00000355812   3.370234
10915   ENST00000418823   3.861745
13625   ENST00000407724   6.876900
26291   ENST00000398569   4.534576
26294   ENST00000434085   4.896634
26360   ENST00000467436   8.316922
27096   ENST00000330266   2.944126
27105   ENST00000405975   2.944126
27109   ENST00000415080   2.783184
31335   ENST00000461690   5.713569
33399   ENST00000305777  10.032375
33412   ENST00000489295  11.233254
49507   ENST00000413152   3.144821
50640   ENST00000462323   3.424110
50647   ENST00000475231  -7.450973
50653   ENST00000480843  -7.450973
52044   ENST00000411781   5.748254
62214   ENST00000369365   6.042527
64103   ENST00000461941   4.313219
64825   ENST00000358459  -3.444682
70011   ENST00000481409   9.412453
71702   ENST00000431642   6.699524
75540   ENST00000420419   6.647608
77622   ENST00000431758   6.508263
77623   ENST00000458606   6.508263
78379   ENST00000495315   4.037966
80429   ENST00000343854   4.073012
82107   ENST00000469736   5.235859
85110   ENST00000449813   7.259655
86743   ENST00000356026   4.816267
86749   ENST00000490017   4.816267
95363   ENST00000423372   8.292183
97293   ENST00000471396   6.954674
97296   ENST00000496222   6.954674
98705   ENST00000436646   3.929674
107692  ENST00000427071   6.332998
113006  ENST00000456205   6.087781

In [13]:
# sample3_sorted=sample3.sort_values(by='ID_REF')
# sample3_sorted

                 ID_REF      VALUE
33399   ENST00000305777  10.032375
27096   ENST00000330266   2.944126
80429   ENST00000343854   4.073012
8393    ENST00000355812   3.370234
86743   ENST00000356026   4.816267
64825   ENST00000358459  -3.444682
62214   ENST00000369365   6.042527
26291   ENST00000398569   4.534576
27105   ENST00000405975   2.944126
13625   ENST00000407724   6.876900
52044   ENST00000411781   5.748254
49507   ENST00000413152   3.144821
27109   ENST00000415080   2.783184
10915   ENST00000418823   3.861745
75540   ENST00000420419   6.647608
95363   ENST00000423372   8.292183
107692  ENST00000427071   6.332998
71702   ENST00000431642   6.699524
77622   ENST00000431758   6.508263
26294   ENST00000434085   4.896634
98705   ENST00000436646   3.929674
85110   ENST00000449813   7.259655
113006  ENST00000456205   6.087781
77623   ENST00000458606   6.508263
31335   ENST00000461690   5.713569
64103   ENST00000461941   4.313219
50640   ENST00000462323   3.424110
26360   ENST00000467436   8.316922
82107   ENST00000469736   5.235859
97293   ENST00000471396   6.954674
50647   ENST00000475231  -7.450973
50653   ENST00000480843  -7.450973
70011   ENST00000481409   9.412453
33412   ENST00000489295  11.233254
86749   ENST00000490017   4.816267
78379   ENST00000495315   4.037966
97296   ENST00000496222   6.954674

# Sample 4

In [18]:
import pandas as pd

In [19]:
# df=pd.read_csv("ENST ID values.csv")

In [20]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.216905         NaN         NaN
1       ENST00000431386  1.454182         NaN         NaN
2       ENST00000494424  4.213877         NaN         NaN
3       ENST00000496771  3.856176         NaN         NaN
4       ENST00000373031  4.795544         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.626961         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [21]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [22]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.216905
1       ENST00000431386  1.454182
2       ENST00000494424  4.213877
3       ENST00000496771  3.856176
4       ENST00000373031  4.795544
...                 ...       ...
121740  ENST00000379695  5.626961
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [23]:
# sample4=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [24]:
# sample4

                 ID_REF      VALUE
8393    ENST00000355812   3.346088
10915   ENST00000418823   3.790031
13625   ENST00000407724   7.280534
26291   ENST00000398569   3.598812
26294   ENST00000434085   4.846430
26360   ENST00000467436   8.023731
27096   ENST00000330266   2.484607
27105   ENST00000405975   2.484607
27109   ENST00000415080   3.131198
31335   ENST00000461690   6.247584
33399   ENST00000305777   9.770127
33412   ENST00000489295  11.281713
49507   ENST00000413152   3.485198
50640   ENST00000462323   1.075238
50647   ENST00000475231   3.338574
50653   ENST00000480843   3.338574
52044   ENST00000411781   6.092505
62214   ENST00000369365   6.029438
64103   ENST00000461941   4.387581
64825   ENST00000358459  -2.318873
70011   ENST00000481409   9.243624
71702   ENST00000431642   5.838096
75540   ENST00000420419   6.784958
77622   ENST00000431758   6.897930
77623   ENST00000458606   6.897930
78379   ENST00000495315   3.634348
80429   ENST00000343854   4.132808
82107   ENST00000469736   4.535613
85110   ENST00000449813   7.350675
86743   ENST00000356026   4.360065
86749   ENST00000490017   4.360065
95363   ENST00000423372   8.614597
97293   ENST00000471396   6.557508
97296   ENST00000496222   6.557508
98705   ENST00000436646   3.358854
107692  ENST00000427071   4.871376
113006  ENST00000456205   6.792928

In [25]:
# sample4_sorted=sample4.sort_values(by='ID_REF')
# sample4_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.770127
27096   ENST00000330266   2.484607
80429   ENST00000343854   4.132808
8393    ENST00000355812   3.346088
86743   ENST00000356026   4.360065
64825   ENST00000358459  -2.318873
62214   ENST00000369365   6.029438
26291   ENST00000398569   3.598812
27105   ENST00000405975   2.484607
13625   ENST00000407724   7.280534
52044   ENST00000411781   6.092505
49507   ENST00000413152   3.485198
27109   ENST00000415080   3.131198
10915   ENST00000418823   3.790031
75540   ENST00000420419   6.784958
95363   ENST00000423372   8.614597
107692  ENST00000427071   4.871376
71702   ENST00000431642   5.838096
77622   ENST00000431758   6.897930
26294   ENST00000434085   4.846430
98705   ENST00000436646   3.358854
85110   ENST00000449813   7.350675
113006  ENST00000456205   6.792928
77623   ENST00000458606   6.897930
31335   ENST00000461690   6.247584
64103   ENST00000461941   4.387581
50640   ENST00000462323   1.075238
26360   ENST00000467436   8.023731
82107   ENST00000469736   4.535613
97293   ENST00000471396   6.557508
50647   ENST00000475231   3.338574
50653   ENST00000480843   3.338574
70011   ENST00000481409   9.243624
33412   ENST00000489295  11.281713
86749   ENST00000490017   4.360065
78379   ENST00000495315   3.634348
97296   ENST00000496222   6.557508

# Sample 5

In [27]:
import pandas as pd

In [28]:
# df=pd.read_csv("ENST ID values.csv")

In [29]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.364886         NaN         NaN
1       ENST00000431386 -0.854352         NaN         NaN
2       ENST00000494424  4.174123         NaN         NaN
3       ENST00000496771  3.764839         NaN         NaN
4       ENST00000373031  4.676946         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.315464         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [30]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [31]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.364886
1       ENST00000431386 -0.854352
2       ENST00000494424  4.174123
3       ENST00000496771  3.764839
4       ENST00000373031  4.676946
...                 ...       ...
121740  ENST00000379695  5.315464
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [32]:
# sample5=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [33]:
# sample5

                 ID_REF      VALUE
8393    ENST00000355812   3.999665
10915   ENST00000418823   4.091603
13625   ENST00000407724   6.488243
26291   ENST00000398569   4.684030
26294   ENST00000434085   4.232402
26360   ENST00000467436   8.275141
27096   ENST00000330266   2.352003
27105   ENST00000405975   2.352003
27109   ENST00000415080   3.371131
31335   ENST00000461690   6.051866
33399   ENST00000305777   9.684129
33412   ENST00000489295  11.217501
49507   ENST00000413152   3.395910
50640   ENST00000462323   3.049082
50647   ENST00000475231   4.009281
50653   ENST00000480843   4.009281
52044   ENST00000411781   5.554321
62214   ENST00000369365   6.013487
64103   ENST00000461941   3.960165
64825   ENST00000358459   2.806521
70011   ENST00000481409   9.403549
71702   ENST00000431642   5.808940
75540   ENST00000420419   6.553125
77622   ENST00000431758   6.614318
77623   ENST00000458606   6.614318
78379   ENST00000495315   3.822086
80429   ENST00000343854   4.006768
82107   ENST00000469736   5.701094
85110   ENST00000449813   7.403636
86743   ENST00000356026   4.097268
86749   ENST00000490017   4.097268
95363   ENST00000423372   7.968104
97293   ENST00000471396   6.594414
97296   ENST00000496222   6.594414
98705   ENST00000436646   4.440541
107692  ENST00000427071   5.338814
113006  ENST00000456205   6.604273

In [34]:
# sample5_sorted=sample5.sort_values(by='ID_REF')

In [35]:
sample5_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.684129
27096   ENST00000330266   2.352003
80429   ENST00000343854   4.006768
8393    ENST00000355812   3.999665
86743   ENST00000356026   4.097268
64825   ENST00000358459   2.806521
62214   ENST00000369365   6.013487
26291   ENST00000398569   4.684030
27105   ENST00000405975   2.352003
13625   ENST00000407724   6.488243
52044   ENST00000411781   5.554321
49507   ENST00000413152   3.395910
27109   ENST00000415080   3.371131
10915   ENST00000418823   4.091603
75540   ENST00000420419   6.553125
95363   ENST00000423372   7.968104
107692  ENST00000427071   5.338814
71702   ENST00000431642   5.808940
77622   ENST00000431758   6.614318
26294   ENST00000434085   4.232402
98705   ENST00000436646   4.440541
85110   ENST00000449813   7.403636
113006  ENST00000456205   6.604273
77623   ENST00000458606   6.614318
31335   ENST00000461690   6.051866
64103   ENST00000461941   3.960165
50640   ENST00000462323   3.049082
26360   ENST00000467436   8.275141
82107   ENST00000469736   5.701094
97293   ENST00000471396   6.594414
50647   ENST00000475231   4.009281
50653   ENST00000480843   4.009281
70011   ENST00000481409   9.403549
33412   ENST00000489295  11.217501
86749   ENST00000490017   4.097268
78379   ENST00000495315   3.822086
97296   ENST00000496222   6.594414

# Sample 6

In [37]:
import pandas as pd

In [38]:
# df=pd.read_csv("ENST ID values.csv")

In [39]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.310613         NaN         NaN
1       ENST00000431386 -1.000103         NaN         NaN
2       ENST00000494424  4.080417         NaN         NaN
3       ENST00000496771  3.772805         NaN         NaN
4       ENST00000373031  4.652976         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.376992         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [40]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [41]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.310613
1       ENST00000431386 -1.000103
2       ENST00000494424  4.080417
3       ENST00000496771  3.772805
4       ENST00000373031  4.652976
...                 ...       ...
121740  ENST00000379695  5.376992
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [42]:
# sample6=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [43]:
# sample6

                 ID_REF      VALUE
8393    ENST00000355812   3.138848
10915   ENST00000418823   3.351176
13625   ENST00000407724   6.811078
26291   ENST00000398569   4.315540
26294   ENST00000434085   3.940608
26360   ENST00000467436   8.094614
27096   ENST00000330266  -2.203626
27105   ENST00000405975  -2.203626
27109   ENST00000415080   3.010219
31335   ENST00000461690   5.482747
33399   ENST00000305777   9.653219
33412   ENST00000489295  11.079007
49507   ENST00000413152   3.865281
50640   ENST00000462323   2.976749
50647   ENST00000475231   3.487626
50653   ENST00000480843   3.487626
52044   ENST00000411781   6.059505
62214   ENST00000369365   5.720065
64103   ENST00000461941   4.043087
64825   ENST00000358459   2.119956
70011   ENST00000481409   9.058520
71702   ENST00000431642   6.167414
75540   ENST00000420419   5.771650
77622   ENST00000431758   6.411349
77623   ENST00000458606   6.411349
78379   ENST00000495315   3.663504
80429   ENST00000343854   3.959231
82107   ENST00000469736   5.540758
85110   ENST00000449813   7.277236
86743   ENST00000356026   4.198562
86749   ENST00000490017   4.198562
95363   ENST00000423372   8.007032
97293   ENST00000471396   6.134639
97296   ENST00000496222   6.134639
98705   ENST00000436646   3.956500
107692  ENST00000427071   5.878230
113006  ENST00000456205   6.700020

In [44]:
# sample6_sorted=sample6.sort_values(by='ID_REF')

In [45]:
# sample6_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.653219
27096   ENST00000330266  -2.203626
80429   ENST00000343854   3.959231
8393    ENST00000355812   3.138848
86743   ENST00000356026   4.198562
64825   ENST00000358459   2.119956
62214   ENST00000369365   5.720065
26291   ENST00000398569   4.315540
27105   ENST00000405975  -2.203626
13625   ENST00000407724   6.811078
52044   ENST00000411781   6.059505
49507   ENST00000413152   3.865281
27109   ENST00000415080   3.010219
10915   ENST00000418823   3.351176
75540   ENST00000420419   5.771650
95363   ENST00000423372   8.007032
107692  ENST00000427071   5.878230
71702   ENST00000431642   6.167414
77622   ENST00000431758   6.411349
26294   ENST00000434085   3.940608
98705   ENST00000436646   3.956500
85110   ENST00000449813   7.277236
113006  ENST00000456205   6.700020
77623   ENST00000458606   6.411349
31335   ENST00000461690   5.482747
64103   ENST00000461941   4.043087
50640   ENST00000462323   2.976749
26360   ENST00000467436   8.094614
82107   ENST00000469736   5.540758
97293   ENST00000471396   6.134639
50647   ENST00000475231   3.487626
50653   ENST00000480843   3.487626
70011   ENST00000481409   9.058520
33412   ENST00000489295  11.079007
86749   ENST00000490017   4.198562
78379   ENST00000495315   3.663504
97296   ENST00000496222   6.134639

# Sample 7

In [47]:
import pandas as pd

In [48]:
# df=pd.read_csv("ENST ID values.csv")

In [49]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.260799         NaN         NaN
1       ENST00000431386  0.687585         NaN         NaN
2       ENST00000494424  4.113968         NaN         NaN
3       ENST00000496771  3.691955         NaN         NaN
4       ENST00000373031  4.709476         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.202695         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [50]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [51]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.260799
1       ENST00000431386  0.687585
2       ENST00000494424  4.113968
3       ENST00000496771  3.691955
4       ENST00000373031  4.709476
...                 ...       ...
121740  ENST00000379695  5.202695
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [52]:
# sample7=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [53]:
# sample7

                 ID_REF      VALUE
8393    ENST00000355812   2.226077
10915   ENST00000418823   3.995805
13625   ENST00000407724   6.957595
26291   ENST00000398569   4.049860
26294   ENST00000434085  -5.689052
26360   ENST00000467436   6.851598
27096   ENST00000330266  -5.212862
27105   ENST00000405975  -5.212023
27109   ENST00000415080   3.497425
31335   ENST00000461690   5.688180
33399   ENST00000305777   8.806609
33412   ENST00000489295  11.222473
49507   ENST00000413152   2.932929
50640   ENST00000462323  -7.656588
50647   ENST00000475231   3.004280
50653   ENST00000480843   3.004280
52044   ENST00000411781   6.084550
62214   ENST00000369365   5.766543
64103   ENST00000461941   3.853303
64825   ENST00000358459  -4.171310
70011   ENST00000481409   8.883086
71702   ENST00000431642   6.105112
75540   ENST00000420419   6.583873
77622   ENST00000431758   6.636681
77623   ENST00000458606   6.636681
78379   ENST00000495315   3.617272
80429   ENST00000343854   3.764755
82107   ENST00000469736   5.478524
85110   ENST00000449813   6.365824
86743   ENST00000356026   5.093653
86749   ENST00000490017   5.093653
95363   ENST00000423372   8.640766
97293   ENST00000471396   6.037251
97296   ENST00000496222   6.037251
98705   ENST00000436646   3.954409
107692  ENST00000427071   4.348291
113006  ENST00000456205   6.779566

In [54]:
# sample7_sorted=sample7.sort_values(by='ID_REF')

In [55]:
# sample7_sorted

                 ID_REF      VALUE
33399   ENST00000305777   8.806609
27096   ENST00000330266  -5.212862
80429   ENST00000343854   3.764755
8393    ENST00000355812   2.226077
86743   ENST00000356026   5.093653
64825   ENST00000358459  -4.171310
62214   ENST00000369365   5.766543
26291   ENST00000398569   4.049860
27105   ENST00000405975  -5.212023
13625   ENST00000407724   6.957595
52044   ENST00000411781   6.084550
49507   ENST00000413152   2.932929
27109   ENST00000415080   3.497425
10915   ENST00000418823   3.995805
75540   ENST00000420419   6.583873
95363   ENST00000423372   8.640766
107692  ENST00000427071   4.348291
71702   ENST00000431642   6.105112
77622   ENST00000431758   6.636681
26294   ENST00000434085  -5.689052
98705   ENST00000436646   3.954409
85110   ENST00000449813   6.365824
113006  ENST00000456205   6.779566
77623   ENST00000458606   6.636681
31335   ENST00000461690   5.688180
64103   ENST00000461941   3.853303
50640   ENST00000462323  -7.656588
26360   ENST00000467436   6.851598
82107   ENST00000469736   5.478524
97293   ENST00000471396   6.037251
50647   ENST00000475231   3.004280
50653   ENST00000480843   3.004280
70011   ENST00000481409   8.883086
33412   ENST00000489295  11.222473
86749   ENST00000490017   5.093653
78379   ENST00000495315   3.617272
97296   ENST00000496222   6.037251

# Sample 8

In [57]:
import pandas as pd

In [58]:
# df=pd.read_csv("ENST ID values.csv")

In [59]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.309124         NaN         NaN
1       ENST00000431386 -0.966022         NaN         NaN
2       ENST00000494424  4.161695         NaN         NaN
3       ENST00000496771  3.550241         NaN         NaN
4       ENST00000373031  4.676844         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.577872         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [60]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [61]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.309124
1       ENST00000431386 -0.966022
2       ENST00000494424  4.161695
3       ENST00000496771  3.550241
4       ENST00000373031  4.676844
...                 ...       ...
121740  ENST00000379695  5.577872
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [62]:
# sample8=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [63]:
sample8

                 ID_REF      VALUE
8393    ENST00000355812   3.990827
10915   ENST00000418823   3.871021
13625   ENST00000407724   7.073144
26291   ENST00000398569   4.398572
26294   ENST00000434085   4.486166
26360   ENST00000467436   8.197657
27096   ENST00000330266   3.217988
27105   ENST00000405975   3.217988
27109   ENST00000415080   2.891394
31335   ENST00000461690   5.665580
33399   ENST00000305777   9.338185
33412   ENST00000489295  11.420490
49507   ENST00000413152   3.322895
50640   ENST00000462323   0.523162
50647   ENST00000475231  -1.399429
50653   ENST00000480843  -1.399429
52044   ENST00000411781   6.176728
62214   ENST00000369365   5.963626
64103   ENST00000461941   4.268875
64825   ENST00000358459   3.441071
70011   ENST00000481409   9.358764
71702   ENST00000431642   3.756830
75540   ENST00000420419   6.851726
77622   ENST00000431758   6.808450
77623   ENST00000458606   6.808450
78379   ENST00000495315   3.889251
80429   ENST00000343854   3.921495
82107   ENST00000469736   5.341224
85110   ENST00000449813   6.757929
86743   ENST00000356026   4.760709
86749   ENST00000490017   4.760709
95363   ENST00000423372   8.568856
97293   ENST00000471396   6.014592
97296   ENST00000496222   6.014592
98705   ENST00000436646   3.371629
107692  ENST00000427071   6.624610
113006  ENST00000456205   7.179101

In [64]:
# sample8_sorted=sample8.sort_values(by='ID_REF')

In [65]:
# sample8_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.338185
27096   ENST00000330266   3.217988
80429   ENST00000343854   3.921495
8393    ENST00000355812   3.990827
86743   ENST00000356026   4.760709
64825   ENST00000358459   3.441071
62214   ENST00000369365   5.963626
26291   ENST00000398569   4.398572
27105   ENST00000405975   3.217988
13625   ENST00000407724   7.073144
52044   ENST00000411781   6.176728
49507   ENST00000413152   3.322895
27109   ENST00000415080   2.891394
10915   ENST00000418823   3.871021
75540   ENST00000420419   6.851726
95363   ENST00000423372   8.568856
107692  ENST00000427071   6.624610
71702   ENST00000431642   3.756830
77622   ENST00000431758   6.808450
26294   ENST00000434085   4.486166
98705   ENST00000436646   3.371629
85110   ENST00000449813   6.757929
113006  ENST00000456205   7.179101
77623   ENST00000458606   6.808450
31335   ENST00000461690   5.665580
64103   ENST00000461941   4.268875
50640   ENST00000462323   0.523162
26360   ENST00000467436   8.197657
82107   ENST00000469736   5.341224
97293   ENST00000471396   6.014592
50647   ENST00000475231  -1.399429
50653   ENST00000480843  -1.399429
70011   ENST00000481409   9.358764
33412   ENST00000489295  11.420490
86749   ENST00000490017   4.760709
78379   ENST00000495315   3.889251
97296   ENST00000496222   6.014592

# Sample 9

In [67]:
import pandas as pd

In [68]:
# df=pd.read_csv("ENST ID values.csv")

In [69]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.219112         NaN         NaN
1       ENST00000431386 -1.147488         NaN         NaN
2       ENST00000494424  4.041844         NaN         NaN
3       ENST00000496771  3.579551         NaN         NaN
4       ENST00000373031  4.620817         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.300546         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [70]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [71]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.219112
1       ENST00000431386 -1.147488
2       ENST00000494424  4.041844
3       ENST00000496771  3.579551
4       ENST00000373031  4.620817
...                 ...       ...
121740  ENST00000379695  5.300546
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [72]:
# sample9=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [73]:
# sample9

                 ID_REF      VALUE
8393    ENST00000355812   3.150779
10915   ENST00000418823   3.659675
13625   ENST00000407724   6.764988
26291   ENST00000398569   4.245866
26294   ENST00000434085   2.656894
26360   ENST00000467436   7.286378
27096   ENST00000330266   1.835926
27105   ENST00000405975   1.835926
27109   ENST00000415080   2.305933
31335   ENST00000461690   5.868602
33399   ENST00000305777   8.838490
33412   ENST00000489295  10.857111
49507   ENST00000413152   2.963591
50640   ENST00000462323   3.363008
50647   ENST00000475231  -7.395590
50653   ENST00000480843  -7.395590
52044   ENST00000411781   6.185604
62214   ENST00000369365   5.765023
64103   ENST00000461941   4.061474
64825   ENST00000358459  -3.175421
70011   ENST00000481409   9.162277
71702   ENST00000431642   5.045594
75540   ENST00000420419   7.037208
77622   ENST00000431758   6.683586
77623   ENST00000458606   6.683586
78379   ENST00000495315   3.745679
80429   ENST00000343854   3.674818
82107   ENST00000469736   4.139085
85110   ENST00000449813   6.628956
86743   ENST00000356026   4.786175
86749   ENST00000490017   4.786175
95363   ENST00000423372   7.849540
97293   ENST00000471396   6.806544
97296   ENST00000496222   6.806544
98705   ENST00000436646   4.016142
107692  ENST00000427071   5.511430
113006  ENST00000456205   6.658429

In [74]:
# sample9_sorted=sample9.sort_values(by='ID_REF')

In [76]:
# sample9_sorted

                 ID_REF      VALUE
33399   ENST00000305777   8.838490
27096   ENST00000330266   1.835926
80429   ENST00000343854   3.674818
8393    ENST00000355812   3.150779
86743   ENST00000356026   4.786175
64825   ENST00000358459  -3.175421
62214   ENST00000369365   5.765023
26291   ENST00000398569   4.245866
27105   ENST00000405975   1.835926
13625   ENST00000407724   6.764988
52044   ENST00000411781   6.185604
49507   ENST00000413152   2.963591
27109   ENST00000415080   2.305933
10915   ENST00000418823   3.659675
75540   ENST00000420419   7.037208
95363   ENST00000423372   7.849540
107692  ENST00000427071   5.511430
71702   ENST00000431642   5.045594
77622   ENST00000431758   6.683586
26294   ENST00000434085   2.656894
98705   ENST00000436646   4.016142
85110   ENST00000449813   6.628956
113006  ENST00000456205   6.658429
77623   ENST00000458606   6.683586
31335   ENST00000461690   5.868602
64103   ENST00000461941   4.061474
50640   ENST00000462323   3.363008
26360   ENST00000467436   7.286378
82107   ENST00000469736   4.139085
97293   ENST00000471396   6.806544
50647   ENST00000475231  -7.395590
50653   ENST00000480843  -7.395590
70011   ENST00000481409   9.162277
33412   ENST00000489295  10.857111
86749   ENST00000490017   4.786175
78379   ENST00000495315   3.745679
97296   ENST00000496222   6.806544

# Sample 10

In [78]:
import pandas as pd

In [79]:
# df=pd.read_csv("ENST ID values.csv")

In [80]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.319287         NaN         NaN
1       ENST00000431386 -0.933951         NaN         NaN
2       ENST00000494424  4.178762         NaN         NaN
3       ENST00000496771  3.634009         NaN         NaN
4       ENST00000373031  4.778460         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.548140         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [81]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [82]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.319287
1       ENST00000431386 -0.933951
2       ENST00000494424  4.178762
3       ENST00000496771  3.634009
4       ENST00000373031  4.778460
...                 ...       ...
121740  ENST00000379695  5.548140
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [83]:
# sample10=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [84]:
sample10

                 ID_REF      VALUE
8393    ENST00000355812   4.108544
10915   ENST00000418823   3.541974
13625   ENST00000407724   6.903462
26291   ENST00000398569   3.894619
26294   ENST00000434085   4.589495
26360   ENST00000467436   7.887870
27096   ENST00000330266   0.701625
27105   ENST00000405975   0.701625
27109   ENST00000415080   2.626495
31335   ENST00000461690   6.504096
33399   ENST00000305777   9.325286
33412   ENST00000489295  11.484798
49507   ENST00000413152   3.765092
50640   ENST00000462323  -1.862381
50647   ENST00000475231   4.503778
50653   ENST00000480843   4.503778
52044   ENST00000411781   6.127178
62214   ENST00000369365   6.059254
64103   ENST00000461941   4.068097
64825   ENST00000358459  -3.206067
70011   ENST00000481409   9.065061
71702   ENST00000431642   6.820697
75540   ENST00000420419   6.210460
77622   ENST00000431758   7.025263
77623   ENST00000458606   7.025263
78379   ENST00000495315   3.815797
80429   ENST00000343854   3.748608
82107   ENST00000469736   4.463419
85110   ENST00000449813   6.678486
86743   ENST00000356026   4.560981
86749   ENST00000490017   4.560981
95363   ENST00000423372   7.697507
97293   ENST00000471396   6.692708
97296   ENST00000496222   6.692708
98705   ENST00000436646   3.745136
107692  ENST00000427071   6.136936
113006  ENST00000456205   6.918187

In [85]:
# sample10_sorted=sample10.sort_values(by='ID_REF')

In [86]:
# sample10_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.325286
27096   ENST00000330266   0.701625
80429   ENST00000343854   3.748608
8393    ENST00000355812   4.108544
86743   ENST00000356026   4.560981
64825   ENST00000358459  -3.206067
62214   ENST00000369365   6.059254
26291   ENST00000398569   3.894619
27105   ENST00000405975   0.701625
13625   ENST00000407724   6.903462
52044   ENST00000411781   6.127178
49507   ENST00000413152   3.765092
27109   ENST00000415080   2.626495
10915   ENST00000418823   3.541974
75540   ENST00000420419   6.210460
95363   ENST00000423372   7.697507
107692  ENST00000427071   6.136936
71702   ENST00000431642   6.820697
77622   ENST00000431758   7.025263
26294   ENST00000434085   4.589495
98705   ENST00000436646   3.745136
85110   ENST00000449813   6.678486
113006  ENST00000456205   6.918187
77623   ENST00000458606   7.025263
31335   ENST00000461690   6.504096
64103   ENST00000461941   4.068097
50640   ENST00000462323  -1.862381
26360   ENST00000467436   7.887870
82107   ENST00000469736   4.463419
97293   ENST00000471396   6.692708
50647   ENST00000475231   4.503778
50653   ENST00000480843   4.503778
70011   ENST00000481409   9.065061
33412   ENST00000489295  11.484798
86749   ENST00000490017   4.560981
78379   ENST00000495315   3.815797
97296   ENST00000496222   6.692708

# Sample 11

In [87]:
import pandas as pd

In [88]:
#  df=pd.read_csv("ENST ID values.csv")

In [89]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.244618         NaN         NaN
1       ENST00000431386 -0.302350         NaN         NaN
2       ENST00000494424  3.948802         NaN         NaN
3       ENST00000496771  3.534817         NaN         NaN
4       ENST00000373031  4.523881         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.351024         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [90]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [91]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.244618
1       ENST00000431386 -0.302350
2       ENST00000494424  3.948802
3       ENST00000496771  3.534817
4       ENST00000373031  4.523881
...                 ...       ...
121740  ENST00000379695  5.351024
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [92]:
# sample11=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [93]:
# sample11

                 ID_REF      VALUE
8393    ENST00000355812   3.991394
10915   ENST00000418823   4.304619
13625   ENST00000407724   6.552648
26291   ENST00000398569   4.507389
26294   ENST00000434085   5.447287
26360   ENST00000467436   8.767765
27096   ENST00000330266   3.564868
27105   ENST00000405975   3.564868
27109   ENST00000415080   1.059062
31335   ENST00000461690   6.463162
33399   ENST00000305777   9.868436
33412   ENST00000489295  11.372374
49507   ENST00000413152   4.507417
50640   ENST00000462323   2.021562
50647   ENST00000475231   3.751630
50653   ENST00000480843   3.751630
52044   ENST00000411781   6.998382
62214   ENST00000369365   5.567812
64103   ENST00000461941   4.077909
64825   ENST00000358459  -3.004276
70011   ENST00000481409   9.523659
71702   ENST00000431642   5.271049
75540   ENST00000420419   6.696847
77622   ENST00000431758   6.610581
77623   ENST00000458606   6.610581
78379   ENST00000495315   3.648554
80429   ENST00000343854   3.452636
82107   ENST00000469736   4.184826
85110   ENST00000449813   7.030023
86743   ENST00000356026   3.995517
86749   ENST00000490017   3.995517
95363   ENST00000423372   8.519100
97293   ENST00000471396   6.630549
97296   ENST00000496222   6.630549
98705   ENST00000436646   4.075974
107692  ENST00000427071   6.398312
113006  ENST00000456205   6.475096

In [94]:
# sample11_sorted=sample11.sort_values(by='ID_REF')

In [95]:
# sample11_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.868436
27096   ENST00000330266   3.564868
80429   ENST00000343854   3.452636
8393    ENST00000355812   3.991394
86743   ENST00000356026   3.995517
64825   ENST00000358459  -3.004276
62214   ENST00000369365   5.567812
26291   ENST00000398569   4.507389
27105   ENST00000405975   3.564868
13625   ENST00000407724   6.552648
52044   ENST00000411781   6.998382
49507   ENST00000413152   4.507417
27109   ENST00000415080   1.059062
10915   ENST00000418823   4.304619
75540   ENST00000420419   6.696847
95363   ENST00000423372   8.519100
107692  ENST00000427071   6.398312
71702   ENST00000431642   5.271049
77622   ENST00000431758   6.610581
26294   ENST00000434085   5.447287
98705   ENST00000436646   4.075974
85110   ENST00000449813   7.030023
113006  ENST00000456205   6.475096
77623   ENST00000458606   6.610581
31335   ENST00000461690   6.463162
64103   ENST00000461941   4.077909
50640   ENST00000462323   2.021562
26360   ENST00000467436   8.767765
82107   ENST00000469736   4.184826
97293   ENST00000471396   6.630549
50647   ENST00000475231   3.751630
50653   ENST00000480843   3.751630
70011   ENST00000481409   9.523659
33412   ENST00000489295  11.372374
86749   ENST00000490017   3.995517
78379   ENST00000495315   3.648554
97296   ENST00000496222   6.630549

# Sample 12

In [97]:
import pandas as pd

In [98]:
# df=pd.read_csv("ENST ID values.csv")

In [99]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.359171         NaN         NaN
1       ENST00000431386  2.219468         NaN         NaN
2       ENST00000494424  4.210913         NaN         NaN
3       ENST00000496771  3.682487         NaN         NaN
4       ENST00000373031  4.740843         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.700097         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [100]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [101]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.359171
1       ENST00000431386  2.219468
2       ENST00000494424  4.210913
3       ENST00000496771  3.682487
4       ENST00000373031  4.740843
...                 ...       ...
121740  ENST00000379695  5.700097
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [102]:
# sample12=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [106]:
# sample12

                 ID_REF      VALUE
8393    ENST00000355812  -1.453431
10915   ENST00000418823   3.858184
13625   ENST00000407724   6.747254
26291   ENST00000398569   3.827527
26294   ENST00000434085   3.466171
26360   ENST00000467436   8.057912
27096   ENST00000330266   0.291203
27105   ENST00000405975   0.291203
27109   ENST00000415080   2.416357
31335   ENST00000461690   6.123018
33399   ENST00000305777   8.400369
33412   ENST00000489295  11.138791
49507   ENST00000413152   2.652005
50640   ENST00000462323  -8.029123
50647   ENST00000475231  -8.058402
50653   ENST00000480843  -8.058402
52044   ENST00000411781   6.332387
62214   ENST00000369365   6.000217
64103   ENST00000461941   4.431664
64825   ENST00000358459  -2.902564
70011   ENST00000481409   8.856048
71702   ENST00000431642   5.687226
75540   ENST00000420419   6.955775
77622   ENST00000431758   6.102438
77623   ENST00000458606   6.102438
78379   ENST00000495315   4.107710
80429   ENST00000343854   3.882330
82107   ENST00000469736   5.129400
85110   ENST00000449813   6.650454
86743   ENST00000356026   4.964500
86749   ENST00000490017   4.964500
95363   ENST00000423372   8.284968
97293   ENST00000471396   6.593576
97296   ENST00000496222   6.593576
98705   ENST00000436646   4.203167
107692  ENST00000427071   4.392755
113006  ENST00000456205   6.816378

In [103]:
# sample12_sorted=sample12.sort_values(by='ID_REF')

In [104]:
# sample12_sorted

                 ID_REF      VALUE
33399   ENST00000305777   8.400369
27096   ENST00000330266   0.291203
80429   ENST00000343854   3.882330
8393    ENST00000355812  -1.453431
86743   ENST00000356026   4.964500
64825   ENST00000358459  -2.902564
62214   ENST00000369365   6.000217
26291   ENST00000398569   3.827527
27105   ENST00000405975   0.291203
13625   ENST00000407724   6.747254
52044   ENST00000411781   6.332387
49507   ENST00000413152   2.652005
27109   ENST00000415080   2.416357
10915   ENST00000418823   3.858184
75540   ENST00000420419   6.955775
95363   ENST00000423372   8.284968
107692  ENST00000427071   4.392755
71702   ENST00000431642   5.687226
77622   ENST00000431758   6.102438
26294   ENST00000434085   3.466171
98705   ENST00000436646   4.203167
85110   ENST00000449813   6.650454
113006  ENST00000456205   6.816378
77623   ENST00000458606   6.102438
31335   ENST00000461690   6.123018
64103   ENST00000461941   4.431664
50640   ENST00000462323  -8.029123
26360   ENST00000467436   8.057912
82107   ENST00000469736   5.129400
97293   ENST00000471396   6.593576
50647   ENST00000475231  -8.058402
50653   ENST00000480843  -8.058402
70011   ENST00000481409   8.856048
33412   ENST00000489295  11.138791
86749   ENST00000490017   4.964500
78379   ENST00000495315   4.107710
97296   ENST00000496222   6.593576

# Sample 13

In [107]:
import pandas as pd

In [108]:
# df=pd.read_csv("ENST ID values.csv")

In [109]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.149582         NaN         NaN
1       ENST00000431386  2.393820         NaN         NaN
2       ENST00000494424  4.190954         NaN         NaN
3       ENST00000496771  3.749291         NaN         NaN
4       ENST00000373031  4.552468         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.464324         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [110]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [111]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.149582
1       ENST00000431386  2.393820
2       ENST00000494424  4.190954
3       ENST00000496771  3.749291
4       ENST00000373031  4.552468
...                 ...       ...
121740  ENST00000379695  5.464324
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [112]:
# sample13=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [113]:
# sample13

                 ID_REF      VALUE
8393    ENST00000355812   4.475351
10915   ENST00000418823   4.265960
13625   ENST00000407724   7.217198
26291   ENST00000398569   4.915028
26294   ENST00000434085   5.092280
26360   ENST00000467436   8.782619
27096   ENST00000330266   3.842083
27105   ENST00000405975   3.842083
27109   ENST00000415080   1.625119
31335   ENST00000461690   5.886429
33399   ENST00000305777   9.815094
33412   ENST00000489295  11.294651
49507   ENST00000413152  -3.668428
50640   ENST00000462323  -8.012350
50647   ENST00000475231  -8.032293
50653   ENST00000480843  -8.032293
52044   ENST00000411781   6.720718
62214   ENST00000369365   5.279111
64103   ENST00000461941   4.005755
64825   ENST00000358459  -2.623598
70011   ENST00000481409   9.443651
71702   ENST00000431642   6.729301
75540   ENST00000420419   6.590986
77622   ENST00000431758   6.934058
77623   ENST00000458606   6.934058
78379   ENST00000495315   3.872800
80429   ENST00000343854   3.586602
82107   ENST00000469736   5.179131
85110   ENST00000449813   6.839095
86743   ENST00000356026   5.096609
86749   ENST00000490017   5.096609
95363   ENST00000423372   8.396483
97293   ENST00000471396   6.613962
97296   ENST00000496222   6.613962
98705   ENST00000436646   3.473708
107692  ENST00000427071   6.565851
113006  ENST00000456205   6.186731

In [114]:
# sample13_sorted=sample13.sort_values(by='ID_REF')

In [115]:
# sample13_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.815094
27096   ENST00000330266   3.842083
80429   ENST00000343854   3.586602
8393    ENST00000355812   4.475351
86743   ENST00000356026   5.096609
64825   ENST00000358459  -2.623598
62214   ENST00000369365   5.279111
26291   ENST00000398569   4.915028
27105   ENST00000405975   3.842083
13625   ENST00000407724   7.217198
52044   ENST00000411781   6.720718
49507   ENST00000413152  -3.668428
27109   ENST00000415080   1.625119
10915   ENST00000418823   4.265960
75540   ENST00000420419   6.590986
95363   ENST00000423372   8.396483
107692  ENST00000427071   6.565851
71702   ENST00000431642   6.729301
77622   ENST00000431758   6.934058
26294   ENST00000434085   5.092280
98705   ENST00000436646   3.473708
85110   ENST00000449813   6.839095
113006  ENST00000456205   6.186731
77623   ENST00000458606   6.934058
31335   ENST00000461690   5.886429
64103   ENST00000461941   4.005755
50640   ENST00000462323  -8.012350
26360   ENST00000467436   8.782619
82107   ENST00000469736   5.179131
97293   ENST00000471396   6.613962
50647   ENST00000475231  -8.032293
50653   ENST00000480843  -8.032293
70011   ENST00000481409   9.443651
33412   ENST00000489295  11.294651
86749   ENST00000490017   5.096609
78379   ENST00000495315   3.872800
97296   ENST00000496222   6.613962

# Sample 14

In [118]:
import pandas as pd

In [119]:
# df=pd.read_csv("ENST ID values.csv")

In [120]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.313371         NaN         NaN
1       ENST00000431386  1.888990         NaN         NaN
2       ENST00000494424  4.201373         NaN         NaN
3       ENST00000496771  3.641500         NaN         NaN
4       ENST00000373031  4.817606         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.606077         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [121]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [122]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.313371
1       ENST00000431386  1.888990
2       ENST00000494424  4.201373
3       ENST00000496771  3.641500
4       ENST00000373031  4.817606
...                 ...       ...
121740  ENST00000379695  5.606077
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [123]:
# sample14=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [124]:
# sample14

                 ID_REF      VALUE
8393    ENST00000355812   3.316879
10915   ENST00000418823   3.660624
13625   ENST00000407724   6.910485
26291   ENST00000398569   4.092825
26294   ENST00000434085   3.247368
26360   ENST00000467436   8.547035
27096   ENST00000330266   0.340549
27105   ENST00000405975   0.340549
27109   ENST00000415080   2.599274
31335   ENST00000461690   5.586167
33399   ENST00000305777   9.449920
33412   ENST00000489295  11.361338
49507   ENST00000413152   2.961306
50640   ENST00000462323  -4.727042
50647   ENST00000475231   4.180802
50653   ENST00000480843   4.180802
52044   ENST00000411781   6.129840
62214   ENST00000369365   6.212342
64103   ENST00000461941   4.126609
64825   ENST00000358459  -3.177312
70011   ENST00000481409   9.091813
71702   ENST00000431642   5.054349
75540   ENST00000420419   6.403091
77622   ENST00000431758   6.758143
77623   ENST00000458606   6.758143
78379   ENST00000495315   3.830884
80429   ENST00000343854   4.354846
82107   ENST00000469736   4.463519
85110   ENST00000449813   7.063389
86743   ENST00000356026   3.715554
86749   ENST00000490017   3.715554
95363   ENST00000423372   7.910023
97293   ENST00000471396   6.659913
97296   ENST00000496222   6.659913
98705   ENST00000436646   2.980883
107692  ENST00000427071   6.071866
113006  ENST00000456205   6.730452

In [125]:
# sample14_sorted=sample14.sort_values(by='ID_REF')

In [126]:
# sample14_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.449920
27096   ENST00000330266   0.340549
80429   ENST00000343854   4.354846
8393    ENST00000355812   3.316879
86743   ENST00000356026   3.715554
64825   ENST00000358459  -3.177312
62214   ENST00000369365   6.212342
26291   ENST00000398569   4.092825
27105   ENST00000405975   0.340549
13625   ENST00000407724   6.910485
52044   ENST00000411781   6.129840
49507   ENST00000413152   2.961306
27109   ENST00000415080   2.599274
10915   ENST00000418823   3.660624
75540   ENST00000420419   6.403091
95363   ENST00000423372   7.910023
107692  ENST00000427071   6.071866
71702   ENST00000431642   5.054349
77622   ENST00000431758   6.758143
26294   ENST00000434085   3.247368
98705   ENST00000436646   2.980883
85110   ENST00000449813   7.063389
113006  ENST00000456205   6.730452
77623   ENST00000458606   6.758143
31335   ENST00000461690   5.586167
64103   ENST00000461941   4.126609
50640   ENST00000462323  -4.727042
26360   ENST00000467436   8.547035
82107   ENST00000469736   4.463519
97293   ENST00000471396   6.659913
50647   ENST00000475231   4.180802
50653   ENST00000480843   4.180802
70011   ENST00000481409   9.091813
33412   ENST00000489295  11.361338
86749   ENST00000490017   3.715554
78379   ENST00000495315   3.830884
97296   ENST00000496222   6.659913

# Sample 15

In [127]:
import pandas as pd

In [128]:
# df=pd.read_csv("ENST ID values.csv")

In [129]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.289639         NaN         NaN
1       ENST00000431386 -0.975121         NaN         NaN
2       ENST00000494424  4.287403         NaN         NaN
3       ENST00000496771  3.658961         NaN         NaN
4       ENST00000373031  4.775270         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.429117         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [130]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [131]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.289639
1       ENST00000431386 -0.975121
2       ENST00000494424  4.287403
3       ENST00000496771  3.658961
4       ENST00000373031  4.775270
...                 ...       ...
121740  ENST00000379695  5.429117
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [132]:
# sample15=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [133]:
# sample15

                 ID_REF      VALUE
8393    ENST00000355812  -0.155981
10915   ENST00000418823   3.953377
13625   ENST00000407724   6.564796
26291   ENST00000398569   4.195192
26294   ENST00000434085   4.406601
26360   ENST00000467436   8.437486
27096   ENST00000330266   1.205139
27105   ENST00000405975  -4.071400
27109   ENST00000415080   3.372554
31335   ENST00000461690   6.284404
33399   ENST00000305777   9.258886
33412   ENST00000489295  11.309353
49507   ENST00000413152   3.083848
50640   ENST00000462323   1.983859
50647   ENST00000475231   4.450916
50653   ENST00000480843   4.450916
52044   ENST00000411781   6.642955
62214   ENST00000369365   6.290831
64103   ENST00000461941   4.255775
64825   ENST00000358459  -3.006811
70011   ENST00000481409   9.051852
71702   ENST00000431642   4.761293
75540   ENST00000420419   6.186629
77622   ENST00000431758   6.782334
77623   ENST00000458606   6.782334
78379   ENST00000495315   3.225381
80429   ENST00000343854   3.959736
82107   ENST00000469736   3.890540
85110   ENST00000449813   6.959162
86743   ENST00000356026   5.353746
86749   ENST00000490017   5.353746
95363   ENST00000423372   8.099340
97293   ENST00000471396   6.225117
97296   ENST00000496222   6.225117
98705   ENST00000436646   3.693298
107692  ENST00000427071   6.005553
113006  ENST00000456205   6.559351

In [134]:
# sample15_sorted=sample15.sort_values(by='ID_REF')

In [135]:
# sample15_sorted

                 ID_REF      VALUE
33399   ENST00000305777   9.258886
27096   ENST00000330266   1.205139
80429   ENST00000343854   3.959736
8393    ENST00000355812  -0.155981
86743   ENST00000356026   5.353746
64825   ENST00000358459  -3.006811
62214   ENST00000369365   6.290831
26291   ENST00000398569   4.195192
27105   ENST00000405975  -4.071400
13625   ENST00000407724   6.564796
52044   ENST00000411781   6.642955
49507   ENST00000413152   3.083848
27109   ENST00000415080   3.372554
10915   ENST00000418823   3.953377
75540   ENST00000420419   6.186629
95363   ENST00000423372   8.099340
107692  ENST00000427071   6.005553
71702   ENST00000431642   4.761293
77622   ENST00000431758   6.782334
26294   ENST00000434085   4.406601
98705   ENST00000436646   3.693298
85110   ENST00000449813   6.959162
113006  ENST00000456205   6.559351
77623   ENST00000458606   6.782334
31335   ENST00000461690   6.284404
64103   ENST00000461941   4.255775
50640   ENST00000462323   1.983859
26360   ENST00000467436   8.437486
82107   ENST00000469736   3.890540
97293   ENST00000471396   6.225117
50647   ENST00000475231   4.450916
50653   ENST00000480843   4.450916
70011   ENST00000481409   9.051852
33412   ENST00000489295  11.309353
86749   ENST00000490017   5.353746
78379   ENST00000495315   3.225381
97296   ENST00000496222   6.225117

# Diseased samples

# sample 16

# 24

In [137]:
import pandas as pd

In [138]:
# df=pd.read_csv("ENST ID values.csv")

In [139]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.179859         NaN         NaN
1       ENST00000431386  1.319423         NaN         NaN
2       ENST00000494424  4.138501         NaN         NaN
3       ENST00000496771  3.670664         NaN         NaN
4       ENST00000373031  4.690828         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.413544         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [140]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [141]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.179859
1       ENST00000431386  1.319423
2       ENST00000494424  4.138501
3       ENST00000496771  3.670664
4       ENST00000373031  4.690828
...                 ...       ...
121740  ENST00000379695  5.413544
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [142]:
#  sample16=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [143]:
# sample16

                 ID_REF      VALUE
8393    ENST00000355812  -2.404053
10915   ENST00000418823  -1.005862
13625   ENST00000407724  13.278298
26291   ENST00000398569  -6.280511
26294   ENST00000434085  -6.572729
26360   ENST00000467436   4.168080
27096   ENST00000330266  -3.718196
27105   ENST00000405975  -3.718196
27109   ENST00000415080  -3.654659
31335   ENST00000461690  10.880423
33399   ENST00000305777   3.513129
33412   ENST00000489295   4.680524
49507   ENST00000413152  -3.749209
50640   ENST00000462323  -9.115974
50647   ENST00000475231  -9.136356
50653   ENST00000480843  -9.136356
52044   ENST00000411781  11.475495
62214   ENST00000369365  12.023955
64103   ENST00000461941  10.718165
64825   ENST00000358459   3.856146
70011   ENST00000481409   4.101441
71702   ENST00000431642  10.986585
75540   ENST00000420419  11.819097
77622   ENST00000431758  12.237008
77623   ENST00000458606  12.237008
78379   ENST00000495315  -3.594257
80429   ENST00000343854   1.757240
82107   ENST00000469736  11.542312
85110   ENST00000449813  12.034956
86743   ENST00000356026  11.178750
86749   ENST00000490017  11.178750
95363   ENST00000423372  13.947883
97293   ENST00000471396  11.425994
97296   ENST00000496222  11.425994
98705   ENST00000436646  10.629014
107692  ENST00000427071  12.732838
113006  ENST00000456205  12.532435

In [144]:
# sample16_sorted=sample16.sort_values(by='ID_REF')

In [145]:
# sample16_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.513129
27096   ENST00000330266  -3.718196
80429   ENST00000343854   1.757240
8393    ENST00000355812  -2.404053
86743   ENST00000356026  11.178750
64825   ENST00000358459   3.856146
62214   ENST00000369365  12.023955
26291   ENST00000398569  -6.280511
27105   ENST00000405975  -3.718196
13625   ENST00000407724  13.278298
52044   ENST00000411781  11.475495
49507   ENST00000413152  -3.749209
27109   ENST00000415080  -3.654659
10915   ENST00000418823  -1.005862
75540   ENST00000420419  11.819097
95363   ENST00000423372  13.947883
107692  ENST00000427071  12.732838
71702   ENST00000431642  10.986585
77622   ENST00000431758  12.237008
26294   ENST00000434085  -6.572729
98705   ENST00000436646  10.629014
85110   ENST00000449813  12.034956
113006  ENST00000456205  12.532435
77623   ENST00000458606  12.237008
31335   ENST00000461690  10.880423
64103   ENST00000461941  10.718165
50640   ENST00000462323  -9.115974
26360   ENST00000467436   4.168080
82107   ENST00000469736  11.542312
97293   ENST00000471396  11.425994
50647   ENST00000475231  -9.136356
50653   ENST00000480843  -9.136356
70011   ENST00000481409   4.101441
33412   ENST00000489295   4.680524
86749   ENST00000490017  11.178750
78379   ENST00000495315  -3.594257
97296   ENST00000496222  11.425994

# Sample 17

# 25

In [151]:
import pandas as pd

In [152]:
# df=pd.read_csv("ENST ID values.csv")

In [153]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.206228         NaN         NaN
1       ENST00000431386  0.656342         NaN         NaN
2       ENST00000494424  4.134850         NaN         NaN
3       ENST00000496771  3.647845         NaN         NaN
4       ENST00000373031  4.680695         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.575586         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [154]:
#  df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [155]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.206228
1       ENST00000431386  0.656342
2       ENST00000494424  4.134850
3       ENST00000496771  3.647845
4       ENST00000373031  4.680695
...                 ...       ...
121740  ENST00000379695  5.575586
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [156]:
#  sample17=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [157]:
# sample17

                 ID_REF      VALUE
8393    ENST00000355812  -3.116353
10915   ENST00000418823  -1.871468
13625   ENST00000407724  13.921692
26291   ENST00000398569   1.718169
26294   ENST00000434085  -6.823428
26360   ENST00000467436   4.212424
27096   ENST00000330266  -4.451040
27105   ENST00000405975  -4.451040
27109   ENST00000415080   2.443406
31335   ENST00000461690  10.779933
33399   ENST00000305777   3.453391
33412   ENST00000489295   4.669123
49507   ENST00000413152  -3.812132
50640   ENST00000462323  -8.430799
50647   ENST00000475231  -8.487840
50653   ENST00000480843  -8.487840
52044   ENST00000411781  11.761536
62214   ENST00000369365  11.905868
64103   ENST00000461941  10.358950
64825   ENST00000358459   3.565033
70011   ENST00000481409   4.104438
71702   ENST00000431642  11.156832
75540   ENST00000420419  11.424378
77622   ENST00000431758  11.589033
77623   ENST00000458606  11.589033
78379   ENST00000495315   1.999498
80429   ENST00000343854   0.230273
82107   ENST00000469736  11.133931
85110   ENST00000449813  12.081110
86743   ENST00000356026  11.203142
86749   ENST00000490017  11.203142
95363   ENST00000423372  13.330106
97293   ENST00000471396  11.091207
97296   ENST00000496222  11.091207
98705   ENST00000436646  10.349222
107692  ENST00000427071  12.649250
113006  ENST00000456205  12.577052

In [158]:
# sample17_sorted=sample17.sort_values(by='ID_REF')

In [159]:
# sample17_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.453391
27096   ENST00000330266  -4.451040
80429   ENST00000343854   0.230273
8393    ENST00000355812  -3.116353
86743   ENST00000356026  11.203142
64825   ENST00000358459   3.565033
62214   ENST00000369365  11.905868
26291   ENST00000398569   1.718169
27105   ENST00000405975  -4.451040
13625   ENST00000407724  13.921692
52044   ENST00000411781  11.761536
49507   ENST00000413152  -3.812132
27109   ENST00000415080   2.443406
10915   ENST00000418823  -1.871468
75540   ENST00000420419  11.424378
95363   ENST00000423372  13.330106
107692  ENST00000427071  12.649250
71702   ENST00000431642  11.156832
77622   ENST00000431758  11.589033
26294   ENST00000434085  -6.823428
98705   ENST00000436646  10.349222
85110   ENST00000449813  12.081110
113006  ENST00000456205  12.577052
77623   ENST00000458606  11.589033
31335   ENST00000461690  10.779933
64103   ENST00000461941  10.358950
50640   ENST00000462323  -8.430799
26360   ENST00000467436   4.212424
82107   ENST00000469736  11.133931
97293   ENST00000471396  11.091207
50647   ENST00000475231  -8.487840
50653   ENST00000480843  -8.487840
70011   ENST00000481409   4.104438
33412   ENST00000489295   4.669123
86749   ENST00000490017  11.203142
78379   ENST00000495315   1.999498
97296   ENST00000496222  11.091207

# sample 18

# 26

In [1]:
import pandas as pd

In [2]:
# df=pd.read_csv("ENST ID values.csv")

In [3]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.226496         NaN         NaN
1       ENST00000431386  1.436870         NaN         NaN
2       ENST00000494424  4.055648         NaN         NaN
3       ENST00000496771  3.487770         NaN         NaN
4       ENST00000373031  4.567402         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.496871         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [4]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [5]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.226496
1       ENST00000431386  1.436870
2       ENST00000494424  4.055648
3       ENST00000496771  3.487770
4       ENST00000373031  4.567402
...                 ...       ...
121740  ENST00000379695  5.496871
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [6]:
#  sample18=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [7]:
# sample18

                 ID_REF      VALUE
8393    ENST00000355812  -2.252563
10915   ENST00000418823  -1.187820
13625   ENST00000407724  12.958934
26291   ENST00000398569   3.483826
26294   ENST00000434085   3.363415
26360   ENST00000467436   4.114710
27096   ENST00000330266  -3.399518
27105   ENST00000405975  -3.399518
27109   ENST00000415080  -3.350960
31335   ENST00000461690  10.837019
33399   ENST00000305777   3.562772
33412   ENST00000489295   4.710692
49507   ENST00000413152  -3.995434
50640   ENST00000462323  -8.504064
50647   ENST00000475231  -8.533670
50653   ENST00000480843  -8.533670
52044   ENST00000411781  11.111388
62214   ENST00000369365  11.587896
64103   ENST00000461941  10.923001
64825   ENST00000358459   3.677969
70011   ENST00000481409   4.247084
71702   ENST00000431642  11.310456
75540   ENST00000420419  11.943126
77622   ENST00000431758  11.519741
77623   ENST00000458606  11.519741
78379   ENST00000495315   1.595009
80429   ENST00000343854   0.897198
82107   ENST00000469736  11.480955
85110   ENST00000449813  12.351821
86743   ENST00000356026  11.274609
86749   ENST00000490017  11.274609
95363   ENST00000423372  13.969210
97293   ENST00000471396  11.848464
97296   ENST00000496222  11.848464
98705   ENST00000436646  10.081821
107692  ENST00000427071  13.200089
113006  ENST00000456205  12.040064

In [8]:
# sample18_sorted=sample18.sort_values(by='ID_REF')

In [9]:
# sample18_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.562772
27096   ENST00000330266  -3.399518
80429   ENST00000343854   0.897198
8393    ENST00000355812  -2.252563
86743   ENST00000356026  11.274609
64825   ENST00000358459   3.677969
62214   ENST00000369365  11.587896
26291   ENST00000398569   3.483826
27105   ENST00000405975  -3.399518
13625   ENST00000407724  12.958934
52044   ENST00000411781  11.111388
49507   ENST00000413152  -3.995434
27109   ENST00000415080  -3.350960
10915   ENST00000418823  -1.187820
75540   ENST00000420419  11.943126
95363   ENST00000423372  13.969210
107692  ENST00000427071  13.200089
71702   ENST00000431642  11.310456
77622   ENST00000431758  11.519741
26294   ENST00000434085   3.363415
98705   ENST00000436646  10.081821
85110   ENST00000449813  12.351821
113006  ENST00000456205  12.040064
77623   ENST00000458606  11.519741
31335   ENST00000461690  10.837019
64103   ENST00000461941  10.923001
50640   ENST00000462323  -8.504064
26360   ENST00000467436   4.114710
82107   ENST00000469736  11.480955
97293   ENST00000471396  11.848464
50647   ENST00000475231  -8.533670
50653   ENST00000480843  -8.533670
70011   ENST00000481409   4.247084
33412   ENST00000489295   4.710692
86749   ENST00000490017  11.274609
78379   ENST00000495315   1.595009
97296   ENST00000496222  11.848464

# Sample 19

# 27

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("ENST ID values.csv")

In [12]:
df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.346341         NaN         NaN
1       ENST00000431386  2.919403         NaN         NaN
2       ENST00000494424  4.283374         NaN         NaN
3       ENST00000496771  3.893550         NaN         NaN
4       ENST00000373031  4.692140         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.205869         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [13]:
df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [14]:
df1

                 ID_REF     VALUE
0       ENST00000373020  4.346341
1       ENST00000431386  2.919403
2       ENST00000494424  4.283374
3       ENST00000496771  3.893550
4       ENST00000373031  4.692140
...                 ...       ...
121740  ENST00000379695  5.205869
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [15]:
sample19=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [16]:
sample19

                 ID_REF      VALUE
8393    ENST00000355812  -2.385642
10915   ENST00000418823   0.267239
13625   ENST00000407724  13.187021
26291   ENST00000398569  -4.613078
26294   ENST00000434085   3.250468
26360   ENST00000467436   3.908505
27096   ENST00000330266  -3.323030
27105   ENST00000405975  -3.323030
27109   ENST00000415080  -2.639613
31335   ENST00000461690  11.154618
33399   ENST00000305777   4.456713
33412   ENST00000489295   4.591122
49507   ENST00000413152  -3.692973
50640   ENST00000462323   1.962857
50647   ENST00000475231  -6.579976
50653   ENST00000480843  -6.579976
52044   ENST00000411781  12.133948
62214   ENST00000369365  12.240320
64103   ENST00000461941  10.254789
64825   ENST00000358459   3.449857
70011   ENST00000481409   4.187641
71702   ENST00000431642  11.070703
75540   ENST00000420419  11.553613
77622   ENST00000431758  12.047348
77623   ENST00000458606  12.047348
78379   ENST00000495315  -0.983430
80429   ENST00000343854  -0.871927
82107   ENST00000469736  11.334552
85110   ENST00000449813  12.594506
86743   ENST00000356026  11.730755
86749   ENST00000490017  11.730755
95363   ENST00000423372  13.466530
97293   ENST00000471396  11.382456
97296   ENST00000496222  11.382456
98705   ENST00000436646   9.900514
107692  ENST00000427071  12.576456
113006  ENST00000456205  12.656515

In [17]:
sample19_sorted=sample19.sort_values(by='ID_REF')

In [18]:
sample19_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.456713
27096   ENST00000330266  -3.323030
80429   ENST00000343854  -0.871927
8393    ENST00000355812  -2.385642
86743   ENST00000356026  11.730755
64825   ENST00000358459   3.449857
62214   ENST00000369365  12.240320
26291   ENST00000398569  -4.613078
27105   ENST00000405975  -3.323030
13625   ENST00000407724  13.187021
52044   ENST00000411781  12.133948
49507   ENST00000413152  -3.692973
27109   ENST00000415080  -2.639613
10915   ENST00000418823   0.267239
75540   ENST00000420419  11.553613
95363   ENST00000423372  13.466530
107692  ENST00000427071  12.576456
71702   ENST00000431642  11.070703
77622   ENST00000431758  12.047348
26294   ENST00000434085   3.250468
98705   ENST00000436646   9.900514
85110   ENST00000449813  12.594506
113006  ENST00000456205  12.656515
77623   ENST00000458606  12.047348
31335   ENST00000461690  11.154618
64103   ENST00000461941  10.254789
50640   ENST00000462323   1.962857
26360   ENST00000467436   3.908505
82107   ENST00000469736  11.334552
97293   ENST00000471396  11.382456
50647   ENST00000475231  -6.579976
50653   ENST00000480843  -6.579976
70011   ENST00000481409   4.187641
33412   ENST00000489295   4.591122
86749   ENST00000490017  11.730755
78379   ENST00000495315  -0.983430
97296   ENST00000496222  11.382456

# Sample 20

# 28

In [19]:
import pandas as pd

In [20]:
# df=pd.read_csv("ENST ID values.csv")

In [21]:
# df

                 ID_REF     VALUE  Unnamed: 2  Unnamed: 3
0       ENST00000373020  4.284833         NaN         NaN
1       ENST00000431386  1.217073         NaN         NaN
2       ENST00000494424  4.228856         NaN         NaN
3       ENST00000496771  3.564652         NaN         NaN
4       ENST00000373031  4.766802         NaN         NaN
...                 ...       ...         ...         ...
121740  ENST00000379695  5.615102         NaN         NaN
121741              NaN       NaN         NaN         NaN
121742              NaN       NaN         NaN         NaN
121743              NaN       NaN         NaN         NaN
121744                        NaN         NaN         NaN

[121745 rows x 4 columns]

In [22]:
# df1=df.drop(['Unnamed: 2','Unnamed: 3'],axis=1)

In [23]:
# df1

                 ID_REF     VALUE
0       ENST00000373020  4.284833
1       ENST00000431386  1.217073
2       ENST00000494424  4.228856
3       ENST00000496771  3.564652
4       ENST00000373031  4.766802
...                 ...       ...
121740  ENST00000379695  5.615102
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [24]:
# sample20=df1[df1['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [25]:
# sample20

                 ID_REF      VALUE
8393    ENST00000355812  -2.075750
10915   ENST00000418823  -1.302902
13625   ENST00000407724  13.538157
26291   ENST00000398569  -5.805618
26294   ENST00000434085   3.937799
26360   ENST00000467436   3.610046
27096   ENST00000330266  -3.924116
27105   ENST00000405975  -3.924116
27109   ENST00000415080  -3.859340
31335   ENST00000461690  11.169963
33399   ENST00000305777   4.885887
33412   ENST00000489295   4.782651
49507   ENST00000413152   4.027299
50640   ENST00000462323  -3.591492
50647   ENST00000475231   5.105906
50653   ENST00000480843   5.105906
52044   ENST00000411781  11.274374
62214   ENST00000369365  12.703477
64103   ENST00000461941  10.621843
64825   ENST00000358459   1.733114
70011   ENST00000481409   3.955555
71702   ENST00000431642  11.514009
75540   ENST00000420419  11.290298
77622   ENST00000431758  12.175951
77623   ENST00000458606  12.175951
78379   ENST00000495315  -0.172333
80429   ENST00000343854   1.075940
82107   ENST00000469736  11.521096
85110   ENST00000449813  12.368998
86743   ENST00000356026  11.608237
86749   ENST00000490017  11.608237
95363   ENST00000423372  13.877418
97293   ENST00000471396  11.994653
97296   ENST00000496222  11.994653
98705   ENST00000436646  10.277592
107692  ENST00000427071  12.543426
113006  ENST00000456205  12.976990

In [26]:
# sample20_sorted=sample20.sort_values(by='ID_REF')

In [27]:
# sample20_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.885887
27096   ENST00000330266  -3.924116
80429   ENST00000343854   1.075940
8393    ENST00000355812  -2.075750
86743   ENST00000356026  11.608237
64825   ENST00000358459   1.733114
62214   ENST00000369365  12.703477
26291   ENST00000398569  -5.805618
27105   ENST00000405975  -3.924116
13625   ENST00000407724  13.538157
52044   ENST00000411781  11.274374
49507   ENST00000413152   4.027299
27109   ENST00000415080  -3.859340
10915   ENST00000418823  -1.302902
75540   ENST00000420419  11.290298
95363   ENST00000423372  13.877418
107692  ENST00000427071  12.543426
71702   ENST00000431642  11.514009
77622   ENST00000431758  12.175951
26294   ENST00000434085   3.937799
98705   ENST00000436646  10.277592
85110   ENST00000449813  12.368998
113006  ENST00000456205  12.976990
77623   ENST00000458606  12.175951
31335   ENST00000461690  11.169963
64103   ENST00000461941  10.621843
50640   ENST00000462323  -3.591492
26360   ENST00000467436   3.610046
82107   ENST00000469736  11.521096
97293   ENST00000471396  11.994653
50647   ENST00000475231   5.105906
50653   ENST00000480843   5.105906
70011   ENST00000481409   3.955555
33412   ENST00000489295   4.782651
86749   ENST00000490017  11.608237
78379   ENST00000495315  -0.172333
97296   ENST00000496222  11.994653

# Sample 21

# 29

In [6]:
import pandas as pd

In [7]:
# df=pd.read_csv("ENST ID values.csv")

In [8]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.058594
1       ENST00000431386  2.498523
2       ENST00000494424  4.162822
3       ENST00000496771  3.507918
4       ENST00000373031  4.671745
...                 ...       ...
121736  ENST00000269980  4.575327
121737  ENST00000378196  6.149065
121738  ENST00000457836  6.145649
121739  ENST00000317306  4.372223
121740  ENST00000379695  5.155640

[121741 rows x 2 columns]

In [9]:
# sample21=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
#  'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
#  'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
#  'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
#  'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
# 'ENST00000467436','ENST00000462323'])]

In [10]:
# sample21

                 ID_REF      VALUE
8393    ENST00000355812  -2.334712
10915   ENST00000418823  -0.447483
13625   ENST00000407724  13.563320
26291   ENST00000398569   2.445799
26294   ENST00000434085   1.684757
26360   ENST00000467436   4.108956
27096   ENST00000330266  -4.512111
27105   ENST00000405975  -4.512111
27109   ENST00000415080   1.658743
31335   ENST00000461690  11.075655
33399   ENST00000305777   4.351870
33412   ENST00000489295   4.472691
49507   ENST00000413152  -3.614376
50640   ENST00000462323  -3.357164
50647   ENST00000475231   1.808683
50653   ENST00000480843   1.808683
52044   ENST00000411781  11.238535
62214   ENST00000369365  12.034280
64103   ENST00000461941  10.480197
64825   ENST00000358459   2.890729
70011   ENST00000481409   4.112677
71702   ENST00000431642  10.980470
75540   ENST00000420419  11.624840
77622   ENST00000431758  12.122796
77623   ENST00000458606  12.122796
78379   ENST00000495315  -2.968838
80429   ENST00000343854  -1.931837
82107   ENST00000469736  11.801739
85110   ENST00000449813  12.542457
86743   ENST00000356026  11.461507
86749   ENST00000490017  11.461507
95363   ENST00000423372  13.945328
97293   ENST00000471396  11.990947
97296   ENST00000496222  11.990947
98705   ENST00000436646   9.979265
107692  ENST00000427071  12.770429
113006  ENST00000456205  12.559820

In [11]:
# sample21_sorted=sample21.sort_values(by='ID_REF')

In [12]:
# sample21_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.351870
27096   ENST00000330266  -4.512111
80429   ENST00000343854  -1.931837
8393    ENST00000355812  -2.334712
86743   ENST00000356026  11.461507
64825   ENST00000358459   2.890729
62214   ENST00000369365  12.034280
26291   ENST00000398569   2.445799
27105   ENST00000405975  -4.512111
13625   ENST00000407724  13.563320
52044   ENST00000411781  11.238535
49507   ENST00000413152  -3.614376
27109   ENST00000415080   1.658743
10915   ENST00000418823  -0.447483
75540   ENST00000420419  11.624840
95363   ENST00000423372  13.945328
107692  ENST00000427071  12.770429
71702   ENST00000431642  10.980470
77622   ENST00000431758  12.122796
26294   ENST00000434085   1.684757
98705   ENST00000436646   9.979265
85110   ENST00000449813  12.542457
113006  ENST00000456205  12.559820
77623   ENST00000458606  12.122796
31335   ENST00000461690  11.075655
64103   ENST00000461941  10.480197
50640   ENST00000462323  -3.357164
26360   ENST00000467436   4.108956
82107   ENST00000469736  11.801739
97293   ENST00000471396  11.990947
50647   ENST00000475231   1.808683
50653   ENST00000480843   1.808683
70011   ENST00000481409   4.112677
33412   ENST00000489295   4.472691
86749   ENST00000490017  11.461507
78379   ENST00000495315  -2.968838
97296   ENST00000496222  11.990947

# Sample 22

# 30

In [19]:
import pandas as pd

In [20]:
# df=pd.read_csv("ENST ID values.csv")

In [21]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.335844
1       ENST00000431386  1.456890
2       ENST00000494424  4.241553
3       ENST00000496771  3.778411
4       ENST00000373031  4.807233
...                 ...       ...
121736  ENST00000269980  5.353991
121737  ENST00000378196  5.967443
121738  ENST00000457836  5.820158
121739  ENST00000317306  3.982383
121740  ENST00000379695  5.589825

[121741 rows x 2 columns]

In [24]:
# sample22=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [25]:
# sample22

                 ID_REF      VALUE
8393    ENST00000355812  -3.236765
10915   ENST00000418823  -0.886431
13625   ENST00000407724  13.681645
26291   ENST00000398569  -6.861935
26294   ENST00000434085  -7.177771
26360   ENST00000467436   3.790180
27096   ENST00000330266  -4.541204
27105   ENST00000405975  -4.541204
27109   ENST00000415080  -4.485966
31335   ENST00000461690  11.638112
33399   ENST00000305777   4.432044
33412   ENST00000489295   4.490120
49507   ENST00000413152   0.445619
50640   ENST00000462323  -5.424038
50647   ENST00000475231  -5.448520
50653   ENST00000480843  -5.448520
52044   ENST00000411781  11.670907
62214   ENST00000369365  12.267478
64103   ENST00000461941  10.698565
64825   ENST00000358459   3.451591
70011   ENST00000481409   3.899408
71702   ENST00000431642  10.865246
75540   ENST00000420419  11.739120
77622   ENST00000431758  12.039109
77623   ENST00000458606  12.039109
78379   ENST00000495315  -1.886404
80429   ENST00000343854   2.317176
82107   ENST00000469736  11.898438
85110   ENST00000449813  12.318212
86743   ENST00000356026  11.581235
86749   ENST00000490017  11.581235
95363   ENST00000423372  13.536837
97293   ENST00000471396  11.630021
97296   ENST00000496222  11.630021
98705   ENST00000436646   9.994630
107692  ENST00000427071  13.202658
113006  ENST00000456205  12.502256

In [26]:
# sample22_sorted=sample22.sort_values(by='ID_REF')

In [27]:
# sample22_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.432044
27096   ENST00000330266  -4.541204
80429   ENST00000343854   2.317176
8393    ENST00000355812  -3.236765
86743   ENST00000356026  11.581235
64825   ENST00000358459   3.451591
62214   ENST00000369365  12.267478
26291   ENST00000398569  -6.861935
27105   ENST00000405975  -4.541204
13625   ENST00000407724  13.681645
52044   ENST00000411781  11.670907
49507   ENST00000413152   0.445619
27109   ENST00000415080  -4.485966
10915   ENST00000418823  -0.886431
75540   ENST00000420419  11.739120
95363   ENST00000423372  13.536837
107692  ENST00000427071  13.202658
71702   ENST00000431642  10.865246
77622   ENST00000431758  12.039109
26294   ENST00000434085  -7.177771
98705   ENST00000436646   9.994630
85110   ENST00000449813  12.318212
113006  ENST00000456205  12.502256
77623   ENST00000458606  12.039109
31335   ENST00000461690  11.638112
64103   ENST00000461941  10.698565
50640   ENST00000462323  -5.424038
26360   ENST00000467436   3.790180
82107   ENST00000469736  11.898438
97293   ENST00000471396  11.630021
50647   ENST00000475231  -5.448520
50653   ENST00000480843  -5.448520
70011   ENST00000481409   3.899408
33412   ENST00000489295   4.490120
86749   ENST00000490017  11.581235
78379   ENST00000495315  -1.886404
97296   ENST00000496222  11.630021

# Sample 23

# 31

In [28]:
import pandas as pd

In [29]:
df=pd.read_csv("ENST ID values.csv")

In [30]:
df

                 ID_REF     VALUE
0       ENST00000373020  4.015143
1       ENST00000431386  1.906606
2       ENST00000494424  3.882721
3       ENST00000496771  3.400821
4       ENST00000373031  4.518569
...                 ...       ...
121736  ENST00000269980  4.971502
121737  ENST00000378196  6.368718
121738  ENST00000457836  5.964559
121739  ENST00000317306  3.650684
121740  ENST00000379695  5.193306

[121741 rows x 2 columns]

In [32]:
sample23=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [33]:
sample23

                 ID_REF      VALUE
8393    ENST00000355812   3.831805
10915   ENST00000418823  -1.215630
13625   ENST00000407724  13.617692
26291   ENST00000398569  -3.745224
26294   ENST00000434085   4.616849
26360   ENST00000467436   4.165384
27096   ENST00000330266  -3.911891
27105   ENST00000405975  -3.911891
27109   ENST00000415080  -3.856876
31335   ENST00000461690  11.041098
33399   ENST00000305777   4.422241
33412   ENST00000489295   4.696216
49507   ENST00000413152  -4.015390
50640   ENST00000462323  -5.801312
50647   ENST00000475231   3.825754
50653   ENST00000480843   3.825754
52044   ENST00000411781  11.730517
62214   ENST00000369365  11.950022
64103   ENST00000461941  10.365839
64825   ENST00000358459   2.847590
70011   ENST00000481409   4.124717
71702   ENST00000431642  11.736644
75540   ENST00000420419  11.643306
77622   ENST00000431758  11.903472
77623   ENST00000458606  11.903472
78379   ENST00000495315  -2.395118
80429   ENST00000343854  -2.502187
82107   ENST00000469736  11.500813
85110   ENST00000449813  12.453784
86743   ENST00000356026  11.563134
86749   ENST00000490017  11.563134
95363   ENST00000423372  14.404231
97293   ENST00000471396  11.890106
97296   ENST00000496222  11.890106
98705   ENST00000436646  10.145458
107692  ENST00000427071  12.785050
113006  ENST00000456205  12.239465

In [34]:
sample23_sorted=sample23.sort_values(by='ID_REF')

In [35]:
sample23_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.422241
27096   ENST00000330266  -3.911891
80429   ENST00000343854  -2.502187
8393    ENST00000355812   3.831805
86743   ENST00000356026  11.563134
64825   ENST00000358459   2.847590
62214   ENST00000369365  11.950022
26291   ENST00000398569  -3.745224
27105   ENST00000405975  -3.911891
13625   ENST00000407724  13.617692
52044   ENST00000411781  11.730517
49507   ENST00000413152  -4.015390
27109   ENST00000415080  -3.856876
10915   ENST00000418823  -1.215630
75540   ENST00000420419  11.643306
95363   ENST00000423372  14.404231
107692  ENST00000427071  12.785050
71702   ENST00000431642  11.736644
77622   ENST00000431758  11.903472
26294   ENST00000434085   4.616849
98705   ENST00000436646  10.145458
85110   ENST00000449813  12.453784
113006  ENST00000456205  12.239465
77623   ENST00000458606  11.903472
31335   ENST00000461690  11.041098
64103   ENST00000461941  10.365839
50640   ENST00000462323  -5.801312
26360   ENST00000467436   4.165384
82107   ENST00000469736  11.500813
97293   ENST00000471396  11.890106
50647   ENST00000475231   3.825754
50653   ENST00000480843   3.825754
70011   ENST00000481409   4.124717
33412   ENST00000489295   4.696216
86749   ENST00000490017  11.563134
78379   ENST00000495315  -2.395118
97296   ENST00000496222  11.890106

# Sample 24

# 32

In [36]:
import pandas as pd

In [37]:
# df=pd.read_csv("ENST ID values.csv")

In [38]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.040688
1       ENST00000431386  3.312132
2       ENST00000494424  4.234206
3       ENST00000496771  3.741199
4       ENST00000373031  4.837390
...                 ...       ...
121736  ENST00000269980  4.798937
121737  ENST00000378196  6.465477
121738  ENST00000457836  6.329107
121739  ENST00000317306  3.767046
121740  ENST00000379695  5.456102

[121741 rows x 2 columns]

In [40]:
# sample24=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [41]:
# sample24

                 ID_REF      VALUE
8393    ENST00000355812  -2.647379
10915   ENST00000418823  -1.378797
13625   ENST00000407724  13.652092
26291   ENST00000398569   1.654435
26294   ENST00000434085   1.935608
26360   ENST00000467436   3.849332
27096   ENST00000330266  -4.030581
27105   ENST00000405975  -4.030581
27109   ENST00000415080  -3.967002
31335   ENST00000461690  10.756522
33399   ENST00000305777   3.586044
33412   ENST00000489295   4.513293
49507   ENST00000413152   4.251854
50640   ENST00000462323   1.934495
50647   ENST00000475231   0.498037
50653   ENST00000480843   0.498037
52044   ENST00000411781  11.663566
62214   ENST00000369365  12.736761
64103   ENST00000461941  10.675824
64825   ENST00000358459   2.845965
70011   ENST00000481409   3.942834
71702   ENST00000431642  11.007706
75540   ENST00000420419  11.958767
77622   ENST00000431758  12.006165
77623   ENST00000458606  12.006165
78379   ENST00000495315   2.455753
80429   ENST00000343854   2.864159
82107   ENST00000469736  11.663885
85110   ENST00000449813  12.260022
86743   ENST00000356026  11.461797
86749   ENST00000490017  11.461797
95363   ENST00000423372  13.694976
97293   ENST00000471396  11.433930
97296   ENST00000496222  11.433930
98705   ENST00000436646  10.013338
107692  ENST00000427071  12.994375
113006  ENST00000456205  12.608012

In [42]:
# sample24_sorted=sample24.sort_values(by='ID_REF')

In [43]:
# sample24_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.586044
27096   ENST00000330266  -4.030581
80429   ENST00000343854   2.864159
8393    ENST00000355812  -2.647379
86743   ENST00000356026  11.461797
64825   ENST00000358459   2.845965
62214   ENST00000369365  12.736761
26291   ENST00000398569   1.654435
27105   ENST00000405975  -4.030581
13625   ENST00000407724  13.652092
52044   ENST00000411781  11.663566
49507   ENST00000413152   4.251854
27109   ENST00000415080  -3.967002
10915   ENST00000418823  -1.378797
75540   ENST00000420419  11.958767
95363   ENST00000423372  13.694976
107692  ENST00000427071  12.994375
71702   ENST00000431642  11.007706
77622   ENST00000431758  12.006165
26294   ENST00000434085   1.935608
98705   ENST00000436646  10.013338
85110   ENST00000449813  12.260022
113006  ENST00000456205  12.608012
77623   ENST00000458606  12.006165
31335   ENST00000461690  10.756522
64103   ENST00000461941  10.675824
50640   ENST00000462323   1.934495
26360   ENST00000467436   3.849332
82107   ENST00000469736  11.663885
97293   ENST00000471396  11.433930
50647   ENST00000475231   0.498037
50653   ENST00000480843   0.498037
70011   ENST00000481409   3.942834
33412   ENST00000489295   4.513293
86749   ENST00000490017  11.461797
78379   ENST00000495315   2.455753
97296   ENST00000496222  11.433930

# Sample 25

# 38

In [44]:
import pandas as pd

In [45]:
# df=pd.read_csv("ENST ID values.csv")

In [46]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.337330
1       ENST00000431386 -1.066195
2       ENST00000494424  4.052488
3       ENST00000496771  3.631818
4       ENST00000373031  4.560112
...                 ...       ...
121736  ENST00000269980  3.121784
121737  ENST00000378196  5.579372
121738  ENST00000457836  5.716199
121739  ENST00000317306  3.507833
121740  ENST00000379695  5.367657

[121741 rows x 2 columns]

In [47]:
# sample25=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [48]:
# sample25

                 ID_REF      VALUE
8393    ENST00000355812  -0.172747
10915   ENST00000418823  -1.261480
13625   ENST00000407724  13.711614
26291   ENST00000398569  -5.985736
26294   ENST00000434085   3.829741
26360   ENST00000467436   3.654630
27096   ENST00000330266  -3.034824
27105   ENST00000405975  -3.034824
27109   ENST00000415080  -2.992878
31335   ENST00000461690  11.001736
33399   ENST00000305777   4.131710
33412   ENST00000489295   4.737783
49507   ENST00000413152  -4.133423
50640   ENST00000462323  -8.242916
50647   ENST00000475231  -8.267421
50653   ENST00000480843  -8.267421
52044   ENST00000411781  11.674229
62214   ENST00000369365  12.177347
64103   ENST00000461941  10.424138
64825   ENST00000358459   3.188712
70011   ENST00000481409   4.156900
71702   ENST00000431642  11.159222
75540   ENST00000420419  11.937595
77622   ENST00000431758  11.854164
77623   ENST00000458606  11.854164
78379   ENST00000495315   1.708261
80429   ENST00000343854  -1.705457
82107   ENST00000469736  11.534883
85110   ENST00000449813  11.811384
86743   ENST00000356026  11.494722
86749   ENST00000490017  11.494722
95363   ENST00000423372  14.090258
97293   ENST00000471396  11.666706
97296   ENST00000496222  11.666706
98705   ENST00000436646  10.046839
107692  ENST00000427071  12.701752
113006  ENST00000456205  11.900106

In [49]:
# sample25_sorted=sample25.sort_values(by='ID_REF')

In [50]:
# sample25_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.131710
27096   ENST00000330266  -3.034824
80429   ENST00000343854  -1.705457
8393    ENST00000355812  -0.172747
86743   ENST00000356026  11.494722
64825   ENST00000358459   3.188712
62214   ENST00000369365  12.177347
26291   ENST00000398569  -5.985736
27105   ENST00000405975  -3.034824
13625   ENST00000407724  13.711614
52044   ENST00000411781  11.674229
49507   ENST00000413152  -4.133423
27109   ENST00000415080  -2.992878
10915   ENST00000418823  -1.261480
75540   ENST00000420419  11.937595
95363   ENST00000423372  14.090258
107692  ENST00000427071  12.701752
71702   ENST00000431642  11.159222
77622   ENST00000431758  11.854164
26294   ENST00000434085   3.829741
98705   ENST00000436646  10.046839
85110   ENST00000449813  11.811384
113006  ENST00000456205  11.900106
77623   ENST00000458606  11.854164
31335   ENST00000461690  11.001736
64103   ENST00000461941  10.424138
50640   ENST00000462323  -8.242916
26360   ENST00000467436   3.654630
82107   ENST00000469736  11.534883
97293   ENST00000471396  11.666706
50647   ENST00000475231  -8.267421
50653   ENST00000480843  -8.267421
70011   ENST00000481409   4.156900
33412   ENST00000489295   4.737783
86749   ENST00000490017  11.494722
78379   ENST00000495315   1.708261
97296   ENST00000496222  11.666706

# Sample 26

# 39

In [51]:
import pandas as pd

In [52]:
# df=pd.read_csv("ENST ID values.csv")

In [53]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.304339
1       ENST00000431386  2.378785
2       ENST00000494424  4.280534
3       ENST00000496771  3.709990
4       ENST00000373031  4.670989
...                 ...       ...
121736  ENST00000269980  0.000256
121737  ENST00000378196  5.748594
121738  ENST00000457836  6.112884
121739  ENST00000317306  4.447383
121740  ENST00000379695  5.291574

[121741 rows x 2 columns]

In [54]:
# sample26=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [55]:
# sample26

                 ID_REF      VALUE
8393    ENST00000355812  -1.674630
10915   ENST00000418823  -0.873515
13625   ENST00000407724  13.556825
26291   ENST00000398569   4.237262
26294   ENST00000434085   2.481772
26360   ENST00000467436   3.952457
27096   ENST00000330266  -2.590903
27105   ENST00000405975  -2.590903
27109   ENST00000415080  -2.551092
31335   ENST00000461690  10.923331
33399   ENST00000305777   3.586343
33412   ENST00000489295   4.203701
49507   ENST00000413152  -3.139817
50640   ENST00000462323  -4.105153
50647   ENST00000475231  -7.369860
50653   ENST00000480843  -7.369860
52044   ENST00000411781  11.377609
62214   ENST00000369365  12.011121
64103   ENST00000461941  10.640288
64825   ENST00000358459   2.450849
70011   ENST00000481409   4.081834
71702   ENST00000431642  10.835792
75540   ENST00000420419  11.560681
77622   ENST00000431758  12.010951
77623   ENST00000458606  12.010951
78379   ENST00000495315  -2.917247
80429   ENST00000343854  -1.593394
82107   ENST00000469736  11.203111
85110   ENST00000449813  12.239456
86743   ENST00000356026  11.320310
86749   ENST00000490017  11.320310
95363   ENST00000423372  14.151883
97293   ENST00000471396  11.784882
97296   ENST00000496222  11.784882
98705   ENST00000436646   9.921317
107692  ENST00000427071  13.043535
113006  ENST00000456205  12.504749

In [56]:
# sample26_sorted=sample26.sort_values(by='ID_REF')

In [57]:
# sample26_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.586343
27096   ENST00000330266  -2.590903
80429   ENST00000343854  -1.593394
8393    ENST00000355812  -1.674630
86743   ENST00000356026  11.320310
64825   ENST00000358459   2.450849
62214   ENST00000369365  12.011121
26291   ENST00000398569   4.237262
27105   ENST00000405975  -2.590903
13625   ENST00000407724  13.556825
52044   ENST00000411781  11.377609
49507   ENST00000413152  -3.139817
27109   ENST00000415080  -2.551092
10915   ENST00000418823  -0.873515
75540   ENST00000420419  11.560681
95363   ENST00000423372  14.151883
107692  ENST00000427071  13.043535
71702   ENST00000431642  10.835792
77622   ENST00000431758  12.010951
26294   ENST00000434085   2.481772
98705   ENST00000436646   9.921317
85110   ENST00000449813  12.239456
113006  ENST00000456205  12.504749
77623   ENST00000458606  12.010951
31335   ENST00000461690  10.923331
64103   ENST00000461941  10.640288
50640   ENST00000462323  -4.105153
26360   ENST00000467436   3.952457
82107   ENST00000469736  11.203111
97293   ENST00000471396  11.784882
50647   ENST00000475231  -7.369860
50653   ENST00000480843  -7.369860
70011   ENST00000481409   4.081834
33412   ENST00000489295   4.203701
86749   ENST00000490017  11.320310
78379   ENST00000495315  -2.917247
97296   ENST00000496222  11.784882

# Sample 27

# 43

In [58]:
import pandas as pd

In [59]:
# df=pd.read_csv("ENST ID values.csv")

In [60]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.065015
1       ENST00000431386  2.641547
2       ENST00000494424  4.156947
3       ENST00000496771  3.724600
4       ENST00000373031  4.680622
...                 ...       ...
121736  ENST00000269980 -0.892665
121737  ENST00000378196  5.198982
121738  ENST00000457836  5.893496
121739  ENST00000317306  4.955858
121740  ENST00000379695  5.183452

[121741 rows x 2 columns]

In [61]:
# sample27=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [62]:
# sample27

                 ID_REF      VALUE
8393    ENST00000355812  -2.333913
10915   ENST00000418823  -1.502734
13625   ENST00000407724  13.274960
26291   ENST00000398569   3.400174
26294   ENST00000434085   1.906380
26360   ENST00000467436   3.864126
27096   ENST00000330266  -3.350910
27105   ENST00000405975  -3.350910
27109   ENST00000415080  -3.300662
31335   ENST00000461690  10.697188
33399   ENST00000305777   3.531706
33412   ENST00000489295   4.419551
49507   ENST00000413152  -3.706674
50640   ENST00000462323   3.287082
50647   ENST00000475231  -6.572588
50653   ENST00000480843  -6.572588
52044   ENST00000411781  11.324162
62214   ENST00000369365  12.103694
64103   ENST00000461941  10.636744
64825   ENST00000358459   2.945011
70011   ENST00000481409   4.104661
71702   ENST00000431642  10.666536
75540   ENST00000420419  12.073740
77622   ENST00000431758  11.321195
77623   ENST00000458606  11.321195
78379   ENST00000495315   1.180483
80429   ENST00000343854  -2.472362
82107   ENST00000469736  11.452573
85110   ENST00000449813  12.530293
86743   ENST00000356026  11.818210
86749   ENST00000490017  11.818210
95363   ENST00000423372  13.779566
97293   ENST00000471396  11.456886
97296   ENST00000496222  11.456886
98705   ENST00000436646  10.305300
107692  ENST00000427071  12.798176
113006  ENST00000456205  12.005585

In [63]:
# sample27_sorted=sample27.sort_values(by='ID_REF')

In [64]:
# sample27_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.531706
27096   ENST00000330266  -3.350910
80429   ENST00000343854  -2.472362
8393    ENST00000355812  -2.333913
86743   ENST00000356026  11.818210
64825   ENST00000358459   2.945011
62214   ENST00000369365  12.103694
26291   ENST00000398569   3.400174
27105   ENST00000405975  -3.350910
13625   ENST00000407724  13.274960
52044   ENST00000411781  11.324162
49507   ENST00000413152  -3.706674
27109   ENST00000415080  -3.300662
10915   ENST00000418823  -1.502734
75540   ENST00000420419  12.073740
95363   ENST00000423372  13.779566
107692  ENST00000427071  12.798176
71702   ENST00000431642  10.666536
77622   ENST00000431758  11.321195
26294   ENST00000434085   1.906380
98705   ENST00000436646  10.305300
85110   ENST00000449813  12.530293
113006  ENST00000456205  12.005585
77623   ENST00000458606  11.321195
31335   ENST00000461690  10.697188
64103   ENST00000461941  10.636744
50640   ENST00000462323   3.287082
26360   ENST00000467436   3.864126
82107   ENST00000469736  11.452573
97293   ENST00000471396  11.456886
50647   ENST00000475231  -6.572588
50653   ENST00000480843  -6.572588
70011   ENST00000481409   4.104661
33412   ENST00000489295   4.419551
86749   ENST00000490017  11.818210
78379   ENST00000495315   1.180483
97296   ENST00000496222  11.456886

# Sample 28

# 46

In [65]:
import pandas as pd

In [66]:
# df=pd.read_csv("ENST ID values.csv")

In [67]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.180709
1       ENST00000431386  1.140837
2       ENST00000494424  4.047856
3       ENST00000496771  3.714664
4       ENST00000373031  4.514063
...                 ...       ...
121736  ENST00000269980  5.120839
121737  ENST00000378196  5.797914
121738  ENST00000457836  5.623662
121739  ENST00000317306  3.573543
121740  ENST00000379695  5.111213

[121741 rows x 2 columns]

In [68]:
# sample28=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [69]:
# sample28

                 ID_REF      VALUE
8393    ENST00000355812  -4.253024
10915   ENST00000418823  -2.041708
13625   ENST00000407724  13.159327
26291   ENST00000398569  -8.581332
26294   ENST00000434085  -8.972887
26360   ENST00000467436   3.866714
27096   ENST00000330266  -5.783022
27105   ENST00000405975  -5.783022
27109   ENST00000415080  -5.711027
31335   ENST00000461690  11.209605
33399   ENST00000305777   3.417708
33412   ENST00000489295   4.392073
49507   ENST00000413152  -4.718669
50640   ENST00000462323 -10.242843
50647   ENST00000475231 -10.270150
50653   ENST00000480843 -10.270150
52044   ENST00000411781  11.142937
62214   ENST00000369365  12.043913
64103   ENST00000461941  10.479714
64825   ENST00000358459   3.262146
70011   ENST00000481409   4.186793
71702   ENST00000431642  10.863542
75540   ENST00000420419  11.646059
77622   ENST00000431758  11.606998
77623   ENST00000458606  11.606998
78379   ENST00000495315  -0.896016
80429   ENST00000343854  -3.208435
82107   ENST00000469736  11.210090
85110   ENST00000449813  11.767683
86743   ENST00000356026  11.747987
86749   ENST00000490017  11.747987
95363   ENST00000423372  13.478337
97293   ENST00000471396  10.983615
97296   ENST00000496222  10.983615
98705   ENST00000436646  10.415286
107692  ENST00000427071  12.566730
113006  ENST00000456205  12.069690

In [70]:
# sample28_sorted=sample28.sort_values(by='ID_REF')

In [71]:
# sample28_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.417708
27096   ENST00000330266  -5.783022
80429   ENST00000343854  -3.208435
8393    ENST00000355812  -4.253024
86743   ENST00000356026  11.747987
64825   ENST00000358459   3.262146
62214   ENST00000369365  12.043913
26291   ENST00000398569  -8.581332
27105   ENST00000405975  -5.783022
13625   ENST00000407724  13.159327
52044   ENST00000411781  11.142937
49507   ENST00000413152  -4.718669
27109   ENST00000415080  -5.711027
10915   ENST00000418823  -2.041708
75540   ENST00000420419  11.646059
95363   ENST00000423372  13.478337
107692  ENST00000427071  12.566730
71702   ENST00000431642  10.863542
77622   ENST00000431758  11.606998
26294   ENST00000434085  -8.972887
98705   ENST00000436646  10.415286
85110   ENST00000449813  11.767683
113006  ENST00000456205  12.069690
77623   ENST00000458606  11.606998
31335   ENST00000461690  11.209605
64103   ENST00000461941  10.479714
50640   ENST00000462323 -10.242843
26360   ENST00000467436   3.866714
82107   ENST00000469736  11.210090
97293   ENST00000471396  10.983615
50647   ENST00000475231 -10.270150
50653   ENST00000480843 -10.270150
70011   ENST00000481409   4.186793
33412   ENST00000489295   4.392073
86749   ENST00000490017  11.747987
78379   ENST00000495315  -0.896016
97296   ENST00000496222  10.983615

# Sample 29

# 47

In [74]:
import pandas as pd

In [75]:
# df=pd.read_csv("ENST ID values.csv")

In [76]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.265628
1       ENST00000431386  2.198147
2       ENST00000494424  4.104099
3       ENST00000496771  3.736946
4       ENST00000373031  4.708037
...                 ...       ...
121736  ENST00000269980 -0.751431
121737  ENST00000378196  3.323777
121738  ENST00000457836  5.744738
121739  ENST00000317306  4.121199
121740  ENST00000379695  5.320023

[121741 rows x 2 columns]

In [77]:
# sample29=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [78]:
# sample29

                 ID_REF      VALUE
8393    ENST00000355812  -4.054147
10915   ENST00000418823  -1.882557
13625   ENST00000407724  13.268979
26291   ENST00000398569  -9.799815
26294   ENST00000434085 -10.242253
26360   ENST00000467436   3.836861
27096   ENST00000330266  -5.411480
27105   ENST00000405975  -5.411480
27109   ENST00000415080  -5.327022
31335   ENST00000461690  10.869194
33399   ENST00000305777   2.964295
33412   ENST00000489295   4.974773
49507   ENST00000413152   1.161304
50640   ENST00000462323   2.520808
50647   ENST00000475231  -1.079552
50653   ENST00000480843  -1.079552
52044   ENST00000411781  11.264855
62214   ENST00000369365  11.929147
64103   ENST00000461941  10.852549
64825   ENST00000358459   3.334788
70011   ENST00000481409   3.573257
71702   ENST00000431642  10.948855
75540   ENST00000420419  12.018093
77622   ENST00000431758  11.922803
77623   ENST00000458606  11.922803
78379   ENST00000495315  -4.323406
80429   ENST00000343854  -2.870244
82107   ENST00000469736  11.397584
85110   ENST00000449813  11.852544
86743   ENST00000356026  12.134091
86749   ENST00000490017  12.134091
95363   ENST00000423372  13.966790
97293   ENST00000471396  11.535260
97296   ENST00000496222  11.535260
98705   ENST00000436646  10.298916
107692  ENST00000427071  12.642005
113006  ENST00000456205  12.715559

In [79]:
# sample29_sorted=sample29.sort_values(by='ID_REF')

In [80]:
# sample29_sorted

                 ID_REF      VALUE
33399   ENST00000305777   2.964295
27096   ENST00000330266  -5.411480
80429   ENST00000343854  -2.870244
8393    ENST00000355812  -4.054147
86743   ENST00000356026  12.134091
64825   ENST00000358459   3.334788
62214   ENST00000369365  11.929147
26291   ENST00000398569  -9.799815
27105   ENST00000405975  -5.411480
13625   ENST00000407724  13.268979
52044   ENST00000411781  11.264855
49507   ENST00000413152   1.161304
27109   ENST00000415080  -5.327022
10915   ENST00000418823  -1.882557
75540   ENST00000420419  12.018093
95363   ENST00000423372  13.966790
107692  ENST00000427071  12.642005
71702   ENST00000431642  10.948855
77622   ENST00000431758  11.922803
26294   ENST00000434085 -10.242253
98705   ENST00000436646  10.298916
85110   ENST00000449813  11.852544
113006  ENST00000456205  12.715559
77623   ENST00000458606  11.922803
31335   ENST00000461690  10.869194
64103   ENST00000461941  10.852549
50640   ENST00000462323   2.520808
26360   ENST00000467436   3.836861
82107   ENST00000469736  11.397584
97293   ENST00000471396  11.535260
50647   ENST00000475231  -1.079552
50653   ENST00000480843  -1.079552
70011   ENST00000481409   3.573257
33412   ENST00000489295   4.974773
86749   ENST00000490017  12.134091
78379   ENST00000495315  -4.323406
97296   ENST00000496222  11.535260

# Sample 30

# 48

In [81]:
import pandas as pd

In [82]:
# df=pd.read_csv("ENST ID values.csv")

In [83]:
# df

                 ID_REF     VALUE
0       ENST00000373020  4.181129
1       ENST00000431386  0.216572
2       ENST00000494424  4.124954
3       ENST00000496771  3.668978
4       ENST00000373031  4.622684
...                 ...       ...
121736  ENST00000269980  5.768138
121737  ENST00000378196  6.452677
121738  ENST00000457836  5.943770
121739  ENST00000317306  4.094092
121740  ENST00000379695  5.351889

[121741 rows x 2 columns]

In [84]:
# sample30=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]

In [85]:
# sample30

                 ID_REF      VALUE
8393    ENST00000355812  -1.966432
10915   ENST00000418823  -1.408612
13625   ENST00000407724  13.881879
26291   ENST00000398569  -4.777610
26294   ENST00000434085   4.298974
26360   ENST00000467436   4.401404
27096   ENST00000330266  -3.160103
27105   ENST00000405975  -3.160103
27109   ENST00000415080   0.036697
31335   ENST00000461690  10.507078
33399   ENST00000305777   4.295255
33412   ENST00000489295   4.464994
49507   ENST00000413152  -3.676827
50640   ENST00000462323  -8.327059
50647   ENST00000475231  -8.346675
50653   ENST00000480843  -8.346675
52044   ENST00000411781  11.895611
62214   ENST00000369365  12.001471
64103   ENST00000461941  10.724205
64825   ENST00000358459   2.957547
70011   ENST00000481409   4.025773
71702   ENST00000431642  10.853307
75540   ENST00000420419  11.556486
77622   ENST00000431758  11.952837
77623   ENST00000458606  11.952837
78379   ENST00000495315   0.289582
80429   ENST00000343854  -2.363163
82107   ENST00000469736  11.511930
85110   ENST00000449813  12.241864
86743   ENST00000356026  11.311528
86749   ENST00000490017  11.311528
95363   ENST00000423372  13.996363
97293   ENST00000471396  11.354431
97296   ENST00000496222  11.354431
98705   ENST00000436646  10.209123
107692  ENST00000427071  13.059970
113006  ENST00000456205  12.239029

In [86]:
# sample30_sorted=sample30.sort_values(by='ID_REF')

In [87]:
# sample30_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.295255
27096   ENST00000330266  -3.160103
80429   ENST00000343854  -2.363163
8393    ENST00000355812  -1.966432
86743   ENST00000356026  11.311528
64825   ENST00000358459   2.957547
62214   ENST00000369365  12.001471
26291   ENST00000398569  -4.777610
27105   ENST00000405975  -3.160103
13625   ENST00000407724  13.881879
52044   ENST00000411781  11.895611
49507   ENST00000413152  -3.676827
27109   ENST00000415080   0.036697
10915   ENST00000418823  -1.408612
75540   ENST00000420419  11.556486
95363   ENST00000423372  13.996363
107692  ENST00000427071  13.059970
71702   ENST00000431642  10.853307
77622   ENST00000431758  11.952837
26294   ENST00000434085   4.298974
98705   ENST00000436646  10.209123
85110   ENST00000449813  12.241864
113006  ENST00000456205  12.239029
77623   ENST00000458606  11.952837
31335   ENST00000461690  10.507078
64103   ENST00000461941  10.724205
50640   ENST00000462323  -8.327059
26360   ENST00000467436   4.401404
82107   ENST00000469736  11.511930
97293   ENST00000471396  11.354431
50647   ENST00000475231  -8.346675
50653   ENST00000480843  -8.346675
70011   ENST00000481409   4.025773
33412   ENST00000489295   4.464994
86749   ENST00000490017  11.311528
78379   ENST00000495315   0.289582
97296   ENST00000496222  11.354431

# Sample 16 -diseased

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.201004
1       ENST00000431386  2.485870
2       ENST00000494424  4.137157
3       ENST00000496771  3.737995
4       ENST00000373031  4.796211
...                 ...       ...
121740  ENST00000379695  5.350687
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [3]:
sample_16=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_16

                 ID_REF      VALUE
8393    ENST00000355812   1.106573
10915   ENST00000418823  -1.247292
13625   ENST00000407724  13.480145
26291   ENST00000398569   4.007550
26294   ENST00000434085  -6.076564
26360   ENST00000467436   3.996439
27096   ENST00000330266  -4.110894
27105   ENST00000405975  -4.110894
27109   ENST00000415080  -4.052586
31335   ENST00000461690  11.138356
33399   ENST00000305777   4.221886
33412   ENST00000489295   4.506542
49507   ENST00000413152   4.465275
50640   ENST00000462323  -6.552048
50647   ENST00000475231   2.855514
50653   ENST00000480843   2.855514
52044   ENST00000411781  12.027333
62214   ENST00000369365  12.256924
64103   ENST00000461941  10.442501
64825   ENST00000358459   2.840250
70011   ENST00000481409   4.138668
71702   ENST00000431642  11.035013
75540   ENST00000420419  11.669087
77622   ENST00000431758  11.915506
77623   ENST00000458606  11.915506
78379   ENST00000495315   0.972003
80429   ENST00000343854   0.832728
82107   ENST00000469736  11.787929
85110   ENST00000449813  12.146514
86743   ENST00000356026  11.446033
86749   ENST00000490017  11.446033
95363   ENST00000423372  14.286745
97293   ENST00000471396  11.204316
97296   ENST00000496222  11.204316
98705   ENST00000436646  10.344270
107692  ENST00000427071  12.692643
113006  ENST00000456205  12.921579

In [5]:
sample_16_sorted=sample_16.sort_values(by='ID_REF')
sample_16_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.221886
27096   ENST00000330266  -4.110894
80429   ENST00000343854   0.832728
8393    ENST00000355812   1.106573
86743   ENST00000356026  11.446033
64825   ENST00000358459   2.840250
62214   ENST00000369365  12.256924
26291   ENST00000398569   4.007550
27105   ENST00000405975  -4.110894
13625   ENST00000407724  13.480145
52044   ENST00000411781  12.027333
49507   ENST00000413152   4.465275
27109   ENST00000415080  -4.052586
10915   ENST00000418823  -1.247292
75540   ENST00000420419  11.669087
95363   ENST00000423372  14.286745
107692  ENST00000427071  12.692643
71702   ENST00000431642  11.035013
77622   ENST00000431758  11.915506
26294   ENST00000434085  -6.076564
98705   ENST00000436646  10.344270
85110   ENST00000449813  12.146514
113006  ENST00000456205  12.921579
77623   ENST00000458606  11.915506
31335   ENST00000461690  11.138356
64103   ENST00000461941  10.442501
50640   ENST00000462323  -6.552048
26360   ENST00000467436   3.996439
82107   ENST00000469736  11.787929
97293   ENST00000471396  11.204316
50647   ENST00000475231   2.855514
50653   ENST00000480843   2.855514
70011   ENST00000481409   4.138668
33412   ENST00000489295   4.506542
86749   ENST00000490017  11.446033
78379   ENST00000495315   0.972003
97296   ENST00000496222  11.204316

# sample_18 - D

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.270348
1       ENST00000431386  1.430978
2       ENST00000494424  4.105629
3       ENST00000496771  3.599529
4       ENST00000373031  4.682766
...                 ...       ...
121740  ENST00000379695  5.269202
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [6]:
sample_18=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_18

                 ID_REF      VALUE
8393    ENST00000355812  -2.680786
10915   ENST00000418823  -1.580788
13625   ENST00000407724  12.950683
26291   ENST00000398569  -5.206187
26294   ENST00000434085   3.144927
26360   ENST00000467436   3.829021
27096   ENST00000330266  -4.572420
27105   ENST00000405975  -4.572420
27109   ENST00000415080  -4.509871
31335   ENST00000461690  10.741429
33399   ENST00000305777   4.083856
33412   ENST00000489295   4.525509
49507   ENST00000413152  -3.715304
50640   ENST00000462323   2.337044
50647   ENST00000475231   2.376417
50653   ENST00000480843   2.376417
52044   ENST00000411781  11.473065
62214   ENST00000369365  12.150527
64103   ENST00000461941  10.763464
64825   ENST00000358459   1.520319
70011   ENST00000481409   4.007549
71702   ENST00000431642  10.799722
75540   ENST00000420419  11.655619
77622   ENST00000431758  11.651496
77623   ENST00000458606  11.651496
78379   ENST00000495315   0.506879
80429   ENST00000343854  -0.431344
82107   ENST00000469736  11.341302
85110   ENST00000449813  12.604413
86743   ENST00000356026  11.246887
86749   ENST00000490017  11.246887
95363   ENST00000423372  13.609974
97293   ENST00000471396  11.791977
97296   ENST00000496222  11.791977
98705   ENST00000436646  10.316716
107692  ENST00000427071  12.547762
113006  ENST00000456205  12.397677

In [7]:
sample_18_sorted=sample_18.sort_values(by='ID_REF')
sample_18_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.083856
27096   ENST00000330266  -4.572420
80429   ENST00000343854  -0.431344
8393    ENST00000355812  -2.680786
86743   ENST00000356026  11.246887
64825   ENST00000358459   1.520319
62214   ENST00000369365  12.150527
26291   ENST00000398569  -5.206187
27105   ENST00000405975  -4.572420
13625   ENST00000407724  12.950683
52044   ENST00000411781  11.473065
49507   ENST00000413152  -3.715304
27109   ENST00000415080  -4.509871
10915   ENST00000418823  -1.580788
75540   ENST00000420419  11.655619
95363   ENST00000423372  13.609974
107692  ENST00000427071  12.547762
71702   ENST00000431642  10.799722
77622   ENST00000431758  11.651496
26294   ENST00000434085   3.144927
98705   ENST00000436646  10.316716
85110   ENST00000449813  12.604413
113006  ENST00000456205  12.397677
77623   ENST00000458606  11.651496
31335   ENST00000461690  10.741429
64103   ENST00000461941  10.763464
50640   ENST00000462323   2.337044
26360   ENST00000467436   3.829021
82107   ENST00000469736  11.341302
97293   ENST00000471396  11.791977
50647   ENST00000475231   2.376417
50653   ENST00000480843   2.376417
70011   ENST00000481409   4.007549
33412   ENST00000489295   4.525509
86749   ENST00000490017  11.246887
78379   ENST00000495315   0.506879
97296   ENST00000496222  11.791977

# sample_21-D

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.094774
1       ENST00000431386  2.355706
2       ENST00000494424  4.221879
3       ENST00000496771  3.706110
4       ENST00000373031  4.582888
...                 ...       ...
121740  ENST00000379695  5.457778
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [10]:
sample_21=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_21

                 ID_REF      VALUE
8393    ENST00000355812  -1.679992
10915   ENST00000418823  -1.340667
13625   ENST00000407724  13.990410
26291   ENST00000398569   3.448452
26294   ENST00000434085   3.680335
26360   ENST00000467436   4.333273
27096   ENST00000330266  -3.707614
27105   ENST00000405975  -3.707614
27109   ENST00000415080  -3.658977
31335   ENST00000461690  10.976967
33399   ENST00000305777   3.959133
33412   ENST00000489295   4.646910
49507   ENST00000413152   0.331875
50640   ENST00000462323  -5.214754
50647   ENST00000475231   3.088543
50653   ENST00000480843   3.088543
52044   ENST00000411781  11.885914
62214   ENST00000369365  12.169826
64103   ENST00000461941  10.907143
64825   ENST00000358459   1.795559
70011   ENST00000481409   3.872818
71702   ENST00000431642  11.477605
75540   ENST00000420419  11.896678
77622   ENST00000431758  12.548480
77623   ENST00000458606  12.548480
78379   ENST00000495315   1.859429
80429   ENST00000343854   1.729942
82107   ENST00000469736  11.678069
85110   ENST00000449813  12.319915
86743   ENST00000356026  11.551494
86749   ENST00000490017  11.551494
95363   ENST00000423372  14.031584
97293   ENST00000471396  11.582537
97296   ENST00000496222  11.582537
98705   ENST00000436646  10.087694
107692  ENST00000427071  13.045257
113006  ENST00000456205  12.201978

In [13]:
sample_21_sorted=sample_21.sort_values(by='ID_REF')
sample_21_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.959133
27096   ENST00000330266  -3.707614
80429   ENST00000343854   1.729942
8393    ENST00000355812  -1.679992
86743   ENST00000356026  11.551494
64825   ENST00000358459   1.795559
62214   ENST00000369365  12.169826
26291   ENST00000398569   3.448452
27105   ENST00000405975  -3.707614
13625   ENST00000407724  13.990410
52044   ENST00000411781  11.885914
49507   ENST00000413152   0.331875
27109   ENST00000415080  -3.658977
10915   ENST00000418823  -1.340667
75540   ENST00000420419  11.896678
95363   ENST00000423372  14.031584
107692  ENST00000427071  13.045257
71702   ENST00000431642  11.477605
77622   ENST00000431758  12.548480
26294   ENST00000434085   3.680335
98705   ENST00000436646  10.087694
85110   ENST00000449813  12.319915
113006  ENST00000456205  12.201978
77623   ENST00000458606  12.548480
31335   ENST00000461690  10.976967
64103   ENST00000461941  10.907143
50640   ENST00000462323  -5.214754
26360   ENST00000467436   4.333273
82107   ENST00000469736  11.678069
97293   ENST00000471396  11.582537
50647   ENST00000475231   3.088543
50653   ENST00000480843   3.088543
70011   ENST00000481409   3.872818
33412   ENST00000489295   4.646910
86749   ENST00000490017  11.551494
78379   ENST00000495315   1.859429
97296   ENST00000496222  11.582537

# sample_35-D

In [14]:
import pandas as pd

In [15]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.440387
1       ENST00000431386  0.077840
2       ENST00000494424  4.226158
3       ENST00000496771  3.712510
4       ENST00000373031  4.702229
...                 ...       ...
121740  ENST00000379695  5.255520
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [16]:
#sample_35=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_35

                 ID_REF      VALUE
8393    ENST00000355812  -0.530667
10915   ENST00000418823   0.310187
13625   ENST00000407724  13.763303
26291   ENST00000398569  -5.942611
26294   ENST00000434085  -1.340686
26360   ENST00000467436   3.550744
27096   ENST00000330266  -3.290885
27105   ENST00000405975  -3.290885
27109   ENST00000415080   3.161384
31335   ENST00000461690  10.864822
33399   ENST00000305777   4.211295
33412   ENST00000489295   4.706489
49507   ENST00000413152  -3.307695
50640   ENST00000462323  -4.390052
50647   ENST00000475231   4.268288
50653   ENST00000480843   4.268288
52044   ENST00000411781  11.770447
62214   ENST00000369365  12.404337
64103   ENST00000461941  10.579398
64825   ENST00000358459   3.587388
70011   ENST00000481409   4.109329
71702   ENST00000431642  10.854775
75540   ENST00000420419  11.745429
77622   ENST00000431758  12.034445
77623   ENST00000458606  12.034445
78379   ENST00000495315  -2.766282
80429   ENST00000343854  -2.575628
82107   ENST00000469736  11.411075
85110   ENST00000449813  12.406014
86743   ENST00000356026  12.055950
86749   ENST00000490017  12.055950
95363   ENST00000423372  14.300497
97293   ENST00000471396  12.144368
97296   ENST00000496222  12.144368
98705   ENST00000436646  10.441661
107692  ENST00000427071  12.904231
113006  ENST00000456205  12.707523

In [17]:
#sample_35_sorted=sample_35.sort_values(by='ID_REF')
#sample_35_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.211295
27096   ENST00000330266  -3.290885
80429   ENST00000343854  -2.575628
8393    ENST00000355812  -0.530667
86743   ENST00000356026  12.055950
64825   ENST00000358459   3.587388
62214   ENST00000369365  12.404337
26291   ENST00000398569  -5.942611
27105   ENST00000405975  -3.290885
13625   ENST00000407724  13.763303
52044   ENST00000411781  11.770447
49507   ENST00000413152  -3.307695
27109   ENST00000415080   3.161384
10915   ENST00000418823   0.310187
75540   ENST00000420419  11.745429
95363   ENST00000423372  14.300497
107692  ENST00000427071  12.904231
71702   ENST00000431642  10.854775
77622   ENST00000431758  12.034445
26294   ENST00000434085  -1.340686
98705   ENST00000436646  10.441661
85110   ENST00000449813  12.406014
113006  ENST00000456205  12.707523
77623   ENST00000458606  12.034445
31335   ENST00000461690  10.864822
64103   ENST00000461941  10.579398
50640   ENST00000462323  -4.390052
26360   ENST00000467436   3.550744
82107   ENST00000469736  11.411075
97293   ENST00000471396  12.144368
50647   ENST00000475231   4.268288
50653   ENST00000480843   4.268288
70011   ENST00000481409   4.109329
33412   ENST00000489295   4.706489
86749   ENST00000490017  12.055950
78379   ENST00000495315  -2.766282
97296   ENST00000496222  12.144368

# Sample_52-D

In [2]:
#import pandas as pd

In [3]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.266608
1       ENST00000431386  1.034841
2       ENST00000494424  4.121362
3       ENST00000496771  3.591808
4       ENST00000373031  4.662043
...                 ...       ...
121740  ENST00000379695  5.393405
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [4]:
#sample_52=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
#sample_52

                 ID_REF      VALUE
8393    ENST00000355812  -2.862925
10915   ENST00000418823  -1.161607
13625   ENST00000407724  13.631089
26291   ENST00000398569   0.998782
26294   ENST00000434085  -6.878815
26360   ENST00000467436   4.685424
27096   ENST00000330266  -3.664145
27105   ENST00000405975  -3.664145
27109   ENST00000415080  -3.602986
31335   ENST00000461690  11.142661
33399   ENST00000305777   3.446291
33412   ENST00000489295   4.683043
49507   ENST00000413152   3.129214
50640   ENST00000462323   2.663138
50647   ENST00000475231  -8.688155
50653   ENST00000480843  -8.688155
52044   ENST00000411781  11.170482
62214   ENST00000369365  11.824614
64103   ENST00000461941  10.668447
64825   ENST00000358459   3.571116
70011   ENST00000481409   4.212762
71702   ENST00000431642  10.968126
75540   ENST00000420419  11.791157
77622   ENST00000431758  11.800425
77623   ENST00000458606  11.800425
78379   ENST00000495315  -0.446293
80429   ENST00000343854   1.529023
82107   ENST00000469736  11.412464
85110   ENST00000449813  12.183272
86743   ENST00000356026  11.407055
86749   ENST00000490017  11.407055
95363   ENST00000423372  13.761171
97293   ENST00000471396  11.081393
97296   ENST00000496222  11.081393
98705   ENST00000436646  10.295585
107692  ENST00000427071  12.749318
113006  ENST00000456205  12.845658

In [5]:
#sample_52_sorted=sample_52.sort_values(by='ID_REF')
#sample_52_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.446291
27096   ENST00000330266  -3.664145
80429   ENST00000343854   1.529023
8393    ENST00000355812  -2.862925
86743   ENST00000356026  11.407055
64825   ENST00000358459   3.571116
62214   ENST00000369365  11.824614
26291   ENST00000398569   0.998782
27105   ENST00000405975  -3.664145
13625   ENST00000407724  13.631089
52044   ENST00000411781  11.170482
49507   ENST00000413152   3.129214
27109   ENST00000415080  -3.602986
10915   ENST00000418823  -1.161607
75540   ENST00000420419  11.791157
95363   ENST00000423372  13.761171
107692  ENST00000427071  12.749318
71702   ENST00000431642  10.968126
77622   ENST00000431758  11.800425
26294   ENST00000434085  -6.878815
98705   ENST00000436646  10.295585
85110   ENST00000449813  12.183272
113006  ENST00000456205  12.845658
77623   ENST00000458606  11.800425
31335   ENST00000461690  11.142661
64103   ENST00000461941  10.668447
50640   ENST00000462323   2.663138
26360   ENST00000467436   4.685424
82107   ENST00000469736  11.412464
97293   ENST00000471396  11.081393
50647   ENST00000475231  -8.688155
50653   ENST00000480843  -8.688155
70011   ENST00000481409   4.212762
33412   ENST00000489295   4.683043
86749   ENST00000490017  11.407055
78379   ENST00000495315  -0.446293
97296   ENST00000496222  11.081393

# Sample_53-D

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.027239
1       ENST00000431386  0.455224
2       ENST00000494424  3.937086
3       ENST00000496771  3.491568
4       ENST00000373031  4.605483
...                 ...       ...
121740  ENST00000379695  5.250265
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [8]:
#sample_53=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_53

                 ID_REF      VALUE
8393    ENST00000355812  -2.002624
10915   ENST00000418823  -0.804585
13625   ENST00000407724  12.908138
26291   ENST00000398569  -4.231707
26294   ENST00000434085   4.080518
26360   ENST00000467436   4.174954
27096   ENST00000330266  -3.621023
27105   ENST00000405975  -3.621023
27109   ENST00000415080   2.707120
31335   ENST00000461690  10.645355
33399   ENST00000305777   5.222698
33412   ENST00000489295   4.597256
49507   ENST00000413152  -4.362481
50640   ENST00000462323  -9.712645
50647   ENST00000475231  -9.735484
50653   ENST00000480843  -9.735484
52044   ENST00000411781  11.473266
62214   ENST00000369365  11.865007
64103   ENST00000461941  10.384026
64825   ENST00000358459   3.734591
70011   ENST00000481409   4.404532
71702   ENST00000431642  11.184601
75540   ENST00000420419  11.250202
77622   ENST00000431758  11.730825
77623   ENST00000458606  11.730825
78379   ENST00000495315   1.118679
80429   ENST00000343854  -2.629663
82107   ENST00000469736  11.499757
85110   ENST00000449813  12.586547
86743   ENST00000356026  11.364012
86749   ENST00000490017  11.364012
95363   ENST00000423372  13.930068
97293   ENST00000471396  12.026514
97296   ENST00000496222  12.026514
98705   ENST00000436646  10.130911
107692  ENST00000427071  12.907010
113006  ENST00000456205  12.023613

In [9]:
sample_53_sorted=sample_53.sort_values(by='ID_REF')
sample_53_sorted

                 ID_REF      VALUE
33399   ENST00000305777   5.222698
27096   ENST00000330266  -3.621023
80429   ENST00000343854  -2.629663
8393    ENST00000355812  -2.002624
86743   ENST00000356026  11.364012
64825   ENST00000358459   3.734591
62214   ENST00000369365  11.865007
26291   ENST00000398569  -4.231707
27105   ENST00000405975  -3.621023
13625   ENST00000407724  12.908138
52044   ENST00000411781  11.473266
49507   ENST00000413152  -4.362481
27109   ENST00000415080   2.707120
10915   ENST00000418823  -0.804585
75540   ENST00000420419  11.250202
95363   ENST00000423372  13.930068
107692  ENST00000427071  12.907010
71702   ENST00000431642  11.184601
77622   ENST00000431758  11.730825
26294   ENST00000434085   4.080518
98705   ENST00000436646  10.130911
85110   ENST00000449813  12.586547
113006  ENST00000456205  12.023613
77623   ENST00000458606  11.730825
31335   ENST00000461690  10.645355
64103   ENST00000461941  10.384026
50640   ENST00000462323  -9.712645
26360   ENST00000467436   4.174954
82107   ENST00000469736  11.499757
97293   ENST00000471396  12.026514
50647   ENST00000475231  -9.735484
50653   ENST00000480843  -9.735484
70011   ENST00000481409   4.404532
33412   ENST00000489295   4.597256
86749   ENST00000490017  11.364012
78379   ENST00000495315   1.118679
97296   ENST00000496222  12.026514

# sample_55-D

In [2]:
import pandas as pd

In [3]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.222111
1       ENST00000431386  0.907899
2       ENST00000494424  3.994500
3       ENST00000496771  3.484475
4       ENST00000373031  4.564954
...                 ...       ...
121740  ENST00000379695  5.179095
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [4]:
#sample_55=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
#sample_55

                 ID_REF      VALUE
8393    ENST00000355812   2.506324
10915   ENST00000418823   2.644944
13625   ENST00000407724  13.677306
26291   ENST00000398569  -3.981360
26294   ENST00000434085   3.220113
26360   ENST00000467436   4.291931
27096   ENST00000330266  -2.510032
27105   ENST00000405975  -2.510032
27109   ENST00000415080   1.166507
31335   ENST00000461690  11.214698
33399   ENST00000305777   4.176852
33412   ENST00000489295   4.621742
49507   ENST00000413152  -3.778552
50640   ENST00000462323  -6.719239
50647   ENST00000475231  -6.745193
50653   ENST00000480843  -6.745193
52044   ENST00000411781  11.952065
62214   ENST00000369365  11.974929
64103   ENST00000461941  10.584399
64825   ENST00000358459   3.745953
70011   ENST00000481409   4.201215
71702   ENST00000431642  11.484702
75540   ENST00000420419  11.492356
77622   ENST00000431758  11.847801
77623   ENST00000458606  11.847801
78379   ENST00000495315  -2.649652
80429   ENST00000343854   2.011805
82107   ENST00000469736  11.389633
85110   ENST00000449813  12.273704
86743   ENST00000356026  11.366953
86749   ENST00000490017  11.366953
95363   ENST00000423372  13.842541
97293   ENST00000471396  11.920060
97296   ENST00000496222  11.920060
98705   ENST00000436646   9.771110
107692  ENST00000427071  12.938582
113006  ENST00000456205  12.458623

In [5]:
#sample_55_sorted=sample_55.sort_values(by='ID_REF')
#sample_55_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.176852
27096   ENST00000330266  -2.510032
80429   ENST00000343854   2.011805
8393    ENST00000355812   2.506324
86743   ENST00000356026  11.366953
64825   ENST00000358459   3.745953
62214   ENST00000369365  11.974929
26291   ENST00000398569  -3.981360
27105   ENST00000405975  -2.510032
13625   ENST00000407724  13.677306
52044   ENST00000411781  11.952065
49507   ENST00000413152  -3.778552
27109   ENST00000415080   1.166507
10915   ENST00000418823   2.644944
75540   ENST00000420419  11.492356
95363   ENST00000423372  13.842541
107692  ENST00000427071  12.938582
71702   ENST00000431642  11.484702
77622   ENST00000431758  11.847801
26294   ENST00000434085   3.220113
98705   ENST00000436646   9.771110
85110   ENST00000449813  12.273704
113006  ENST00000456205  12.458623
77623   ENST00000458606  11.847801
31335   ENST00000461690  11.214698
64103   ENST00000461941  10.584399
50640   ENST00000462323  -6.719239
26360   ENST00000467436   4.291931
82107   ENST00000469736  11.389633
97293   ENST00000471396  11.920060
50647   ENST00000475231  -6.745193
50653   ENST00000480843  -6.745193
70011   ENST00000481409   4.201215
33412   ENST00000489295   4.621742
86749   ENST00000490017  11.366953
78379   ENST00000495315  -2.649652
97296   ENST00000496222  11.920060

# sample_58-D

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.144799
1       ENST00000431386 -1.294685
2       ENST00000494424  3.958216
3       ENST00000496771  3.626737
4       ENST00000373031  4.665924
...                 ...       ...
121740  ENST00000379695  5.507265
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [10]:
sample_58=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_58

                 ID_REF      VALUE
8393    ENST00000355812   3.825689
10915   ENST00000418823  -1.090622
13625   ENST00000407724  13.217787
26291   ENST00000398569   4.595665
26294   ENST00000434085   5.259645
26360   ENST00000467436   4.284006
27096   ENST00000330266  -2.880994
27105   ENST00000405975  -2.880994
27109   ENST00000415080  -2.842586
31335   ENST00000461690  10.780619
33399   ENST00000305777   3.551257
33412   ENST00000489295   4.477265
49507   ENST00000413152  -4.187007
50640   ENST00000462323   2.676141
50647   ENST00000475231   3.332022
50653   ENST00000480843   3.332022
52044   ENST00000411781  11.561749
62214   ENST00000369365  11.673832
64103   ENST00000461941  10.763285
64825   ENST00000358459  -2.146035
70011   ENST00000481409   4.143878
71702   ENST00000431642  11.262817
75540   ENST00000420419  12.505750
77622   ENST00000431758  11.535631
77623   ENST00000458606  11.535631
78379   ENST00000495315  -3.099097
80429   ENST00000343854  -0.940455
82107   ENST00000469736  11.730688
85110   ENST00000449813  12.755050
86743   ENST00000356026  11.438446
86749   ENST00000490017  11.438446
95363   ENST00000423372  14.596791
97293   ENST00000471396  11.599323
97296   ENST00000496222  11.599323
98705   ENST00000436646  10.194653
107692  ENST00000427071  13.117541
113006  ENST00000456205  11.678281

In [11]:
sample_58_sorted=sample_58.sort_values(by='ID_REF')
sample_58_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.551257
27096   ENST00000330266  -2.880994
80429   ENST00000343854  -0.940455
8393    ENST00000355812   3.825689
86743   ENST00000356026  11.438446
64825   ENST00000358459  -2.146035
62214   ENST00000369365  11.673832
26291   ENST00000398569   4.595665
27105   ENST00000405975  -2.880994
13625   ENST00000407724  13.217787
52044   ENST00000411781  11.561749
49507   ENST00000413152  -4.187007
27109   ENST00000415080  -2.842586
10915   ENST00000418823  -1.090622
75540   ENST00000420419  12.505750
95363   ENST00000423372  14.596791
107692  ENST00000427071  13.117541
71702   ENST00000431642  11.262817
77622   ENST00000431758  11.535631
26294   ENST00000434085   5.259645
98705   ENST00000436646  10.194653
85110   ENST00000449813  12.755050
113006  ENST00000456205  11.678281
77623   ENST00000458606  11.535631
31335   ENST00000461690  10.780619
64103   ENST00000461941  10.763285
50640   ENST00000462323   2.676141
26360   ENST00000467436   4.284006
82107   ENST00000469736  11.730688
97293   ENST00000471396  11.599323
50647   ENST00000475231   3.332022
50653   ENST00000480843   3.332022
70011   ENST00000481409   4.143878
33412   ENST00000489295   4.477265
86749   ENST00000490017  11.438446
78379   ENST00000495315  -3.099097
97296   ENST00000496222  11.599323

# sample_59-D

In [12]:
import pandas as pd

In [13]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.326419
1       ENST00000431386 -0.990971
2       ENST00000494424  4.159470
3       ENST00000496771  3.706912
4       ENST00000373031  4.756775
...                 ...       ...
121740  ENST00000379695  5.589275
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [14]:
#sample_59=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_59

                 ID_REF      VALUE
8393    ENST00000355812  -2.272469
10915   ENST00000418823  -1.535795
13625   ENST00000407724  13.666126
26291   ENST00000398569   1.197044
26294   ENST00000434085   3.851491
26360   ENST00000467436   3.848247
27096   ENST00000330266  -4.533200
27105   ENST00000405975  -4.533200
27109   ENST00000415080  -4.462145
31335   ENST00000461690  10.713731
33399   ENST00000305777   3.894947
33412   ENST00000489295   4.691082
49507   ENST00000413152   2.927530
50640   ENST00000462323  -0.129402
50647   ENST00000475231   3.579769
50653   ENST00000480843   3.579769
52044   ENST00000411781  11.428436
62214   ENST00000369365  12.540413
64103   ENST00000461941  10.685464
64825   ENST00000358459   3.353315
70011   ENST00000481409   3.922226
71702   ENST00000431642  11.140127
75540   ENST00000420419  11.764846
77622   ENST00000431758  12.080777
77623   ENST00000458606  12.080777
78379   ENST00000495315  -0.566878
80429   ENST00000343854  -0.443821
82107   ENST00000469736  11.104840
85110   ENST00000449813  12.150832
86743   ENST00000356026  11.406579
86749   ENST00000490017  11.406579
95363   ENST00000423372  13.557566
97293   ENST00000471396  11.795409
97296   ENST00000496222  11.795409
98705   ENST00000436646   9.975048
107692  ENST00000427071  12.992409
113006  ENST00000456205  12.841542

In [15]:
#sample_59_sorted=sample_59.sort_values(by='ID_REF')
#sample_59_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.894947
27096   ENST00000330266  -4.533200
80429   ENST00000343854  -0.443821
8393    ENST00000355812  -2.272469
86743   ENST00000356026  11.406579
64825   ENST00000358459   3.353315
62214   ENST00000369365  12.540413
26291   ENST00000398569   1.197044
27105   ENST00000405975  -4.533200
13625   ENST00000407724  13.666126
52044   ENST00000411781  11.428436
49507   ENST00000413152   2.927530
27109   ENST00000415080  -4.462145
10915   ENST00000418823  -1.535795
75540   ENST00000420419  11.764846
95363   ENST00000423372  13.557566
107692  ENST00000427071  12.992409
71702   ENST00000431642  11.140127
77622   ENST00000431758  12.080777
26294   ENST00000434085   3.851491
98705   ENST00000436646   9.975048
85110   ENST00000449813  12.150832
113006  ENST00000456205  12.841542
77623   ENST00000458606  12.080777
31335   ENST00000461690  10.713731
64103   ENST00000461941  10.685464
50640   ENST00000462323  -0.129402
26360   ENST00000467436   3.848247
82107   ENST00000469736  11.104840
97293   ENST00000471396  11.795409
50647   ENST00000475231   3.579769
50653   ENST00000480843   3.579769
70011   ENST00000481409   3.922226
33412   ENST00000489295   4.691082
86749   ENST00000490017  11.406579
78379   ENST00000495315  -0.566878
97296   ENST00000496222  11.795409

# sample_60-D

In [16]:
import pandas as pd

In [17]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.273068
1       ENST00000431386 -0.933002
2       ENST00000494424  4.142319
3       ENST00000496771  3.548268
4       ENST00000373031  4.708497
...                 ...       ...
121740  ENST00000379695  5.523031
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [18]:
#sample_60=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
#sample_60

                 ID_REF      VALUE
8393    ENST00000355812   1.500498
10915   ENST00000418823  -0.619022
13625   ENST00000407724  13.681530
26291   ENST00000398569   3.518162
26294   ENST00000434085   4.350981
26360   ENST00000467436   4.335787
27096   ENST00000330266  -2.649288
27105   ENST00000405975  -2.649288
27109   ENST00000415080  -2.609340
31335   ENST00000461690  10.651276
33399   ENST00000305777   4.348057
33412   ENST00000489295   4.336456
49507   ENST00000413152  -3.100172
50640   ENST00000462323  -8.018729
50647   ENST00000475231  -8.033903
50653   ENST00000480843  -8.033903
52044   ENST00000411781  11.649990
62214   ENST00000369365  12.134439
64103   ENST00000461941  10.424846
64825   ENST00000358459   3.487319
70011   ENST00000481409   4.082685
71702   ENST00000431642  11.637509
75540   ENST00000420419  11.817704
77622   ENST00000431758  12.322412
77623   ENST00000458606  12.322412
78379   ENST00000495315  -0.332707
80429   ENST00000343854   1.915446
82107   ENST00000469736  11.448044
85110   ENST00000449813  12.532350
86743   ENST00000356026  11.756938
86749   ENST00000490017  11.756938
95363   ENST00000423372  13.598977
97293   ENST00000471396  11.831600
97296   ENST00000496222  11.831600
98705   ENST00000436646   9.815204
107692  ENST00000427071  12.807105
113006  ENST00000456205  12.461768

In [19]:
#sample_60_sorted=sample_60.sort_values(by='ID_REF')
#sample_60_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.348057
27096   ENST00000330266  -2.649288
80429   ENST00000343854   1.915446
8393    ENST00000355812   1.500498
86743   ENST00000356026  11.756938
64825   ENST00000358459   3.487319
62214   ENST00000369365  12.134439
26291   ENST00000398569   3.518162
27105   ENST00000405975  -2.649288
13625   ENST00000407724  13.681530
52044   ENST00000411781  11.649990
49507   ENST00000413152  -3.100172
27109   ENST00000415080  -2.609340
10915   ENST00000418823  -0.619022
75540   ENST00000420419  11.817704
95363   ENST00000423372  13.598977
107692  ENST00000427071  12.807105
71702   ENST00000431642  11.637509
77622   ENST00000431758  12.322412
26294   ENST00000434085   4.350981
98705   ENST00000436646   9.815204
85110   ENST00000449813  12.532350
113006  ENST00000456205  12.461768
77623   ENST00000458606  12.322412
31335   ENST00000461690  10.651276
64103   ENST00000461941  10.424846
50640   ENST00000462323  -8.018729
26360   ENST00000467436   4.335787
82107   ENST00000469736  11.448044
97293   ENST00000471396  11.831600
50647   ENST00000475231  -8.033903
50653   ENST00000480843  -8.033903
70011   ENST00000481409   4.082685
33412   ENST00000489295   4.336456
86749   ENST00000490017  11.756938
78379   ENST00000495315  -0.332707
97296   ENST00000496222  11.831600

# sample_61-D

In [24]:
import pandas as pd

In [25]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.187596
1       ENST00000431386  0.707223
2       ENST00000494424  4.039463
3       ENST00000496771  3.690186
4       ENST00000373031  4.559529
...                 ...       ...
121740  ENST00000379695  5.437268
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [26]:
sample_61=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_61

                 ID_REF      VALUE
8393    ENST00000355812   2.548868
10915   ENST00000418823  -0.940700
13625   ENST00000407724  13.772967
26291   ENST00000398569  -3.734825
26294   ENST00000434085   4.686190
26360   ENST00000467436   4.462362
27096   ENST00000330266  -2.970771
27105   ENST00000405975  -2.970771
27109   ENST00000415080   1.828294
31335   ENST00000461690  10.835124
33399   ENST00000305777   4.791545
33412   ENST00000489295   4.510200
49507   ENST00000413152   2.845656
50640   ENST00000462323   4.199726
50647   ENST00000475231  -5.741164
50653   ENST00000480843  -5.741164
52044   ENST00000411781  11.813496
62214   ENST00000369365  11.971375
64103   ENST00000461941  10.646332
64825   ENST00000358459   3.039437
70011   ENST00000481409   4.168673
71702   ENST00000431642  11.533019
75540   ENST00000420419  11.502743
77622   ENST00000431758  11.925981
77623   ENST00000458606  11.925981
78379   ENST00000495315   0.126735
80429   ENST00000343854  -2.503877
82107   ENST00000469736  11.192605
85110   ENST00000449813  12.499109
86743   ENST00000356026  11.325058
86749   ENST00000490017  11.325058
95363   ENST00000423372  14.120286
97293   ENST00000471396  11.377544
97296   ENST00000496222  11.377544
98705   ENST00000436646   9.964334
107692  ENST00000427071  13.299187
113006  ENST00000456205  12.211899

In [27]:
sample_61_sorted=sample_61.sort_values(by='ID_REF')
sample_61_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.791545
27096   ENST00000330266  -2.970771
80429   ENST00000343854  -2.503877
8393    ENST00000355812   2.548868
86743   ENST00000356026  11.325058
64825   ENST00000358459   3.039437
62214   ENST00000369365  11.971375
26291   ENST00000398569  -3.734825
27105   ENST00000405975  -2.970771
13625   ENST00000407724  13.772967
52044   ENST00000411781  11.813496
49507   ENST00000413152   2.845656
27109   ENST00000415080   1.828294
10915   ENST00000418823  -0.940700
75540   ENST00000420419  11.502743
95363   ENST00000423372  14.120286
107692  ENST00000427071  13.299187
71702   ENST00000431642  11.533019
77622   ENST00000431758  11.925981
26294   ENST00000434085   4.686190
98705   ENST00000436646   9.964334
85110   ENST00000449813  12.499109
113006  ENST00000456205  12.211899
77623   ENST00000458606  11.925981
31335   ENST00000461690  10.835124
64103   ENST00000461941  10.646332
50640   ENST00000462323   4.199726
26360   ENST00000467436   4.462362
82107   ENST00000469736  11.192605
97293   ENST00000471396  11.377544
50647   ENST00000475231  -5.741164
50653   ENST00000480843  -5.741164
70011   ENST00000481409   4.168673
33412   ENST00000489295   4.510200
86749   ENST00000490017  11.325058
78379   ENST00000495315   0.126735
97296   ENST00000496222  11.377544

# sample_62-D

In [29]:
import pandas as pd

In [30]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.130987
1       ENST00000431386  1.478224
2       ENST00000494424  4.091436
3       ENST00000496771  3.749856
4       ENST00000373031  4.544409
...                 ...       ...
121740  ENST00000379695  5.334084
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [31]:
sample_62=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_62

                 ID_REF      VALUE
8393    ENST00000355812  -4.765731
10915   ENST00000418823  -2.571458
13625   ENST00000407724  12.937869
26291   ENST00000398569  -9.394716
26294   ENST00000434085   1.966941
26360   ENST00000467436   3.579843
27096   ENST00000330266  -6.129199
27105   ENST00000405975  -6.129199
27109   ENST00000415080  -4.091081
31335   ENST00000461690  11.084246
33399   ENST00000305777   3.498851
33412   ENST00000489295   4.980545
49507   ENST00000413152   4.282662
50640   ENST00000462323  -8.118631
50647   ENST00000475231   3.979740
50653   ENST00000480843   3.979740
52044   ENST00000411781  11.800463
62214   ENST00000369365  12.032894
64103   ENST00000461941  10.280250
64825   ENST00000358459   3.494543
70011   ENST00000481409   3.842416
71702   ENST00000431642  11.061966
75540   ENST00000420419  11.767535
77622   ENST00000431758  11.868009
77623   ENST00000458606  11.868009
78379   ENST00000495315   1.525173
80429   ENST00000343854  -0.677810
82107   ENST00000469736  11.579703
85110   ENST00000449813  11.513277
86743   ENST00000356026  11.528347
86749   ENST00000490017  11.528347
95363   ENST00000423372  13.432860
97293   ENST00000471396  11.488346
97296   ENST00000496222  11.488346
98705   ENST00000436646  10.592468
107692  ENST00000427071  12.064328
113006  ENST00000456205  11.759075

In [32]:
sample_62_sorted=sample_62.sort_values(by='ID_REF')
sample_62_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.498851
27096   ENST00000330266  -6.129199
80429   ENST00000343854  -0.677810
8393    ENST00000355812  -4.765731
86743   ENST00000356026  11.528347
64825   ENST00000358459   3.494543
62214   ENST00000369365  12.032894
26291   ENST00000398569  -9.394716
27105   ENST00000405975  -6.129199
13625   ENST00000407724  12.937869
52044   ENST00000411781  11.800463
49507   ENST00000413152   4.282662
27109   ENST00000415080  -4.091081
10915   ENST00000418823  -2.571458
75540   ENST00000420419  11.767535
95363   ENST00000423372  13.432860
107692  ENST00000427071  12.064328
71702   ENST00000431642  11.061966
77622   ENST00000431758  11.868009
26294   ENST00000434085   1.966941
98705   ENST00000436646  10.592468
85110   ENST00000449813  11.513277
113006  ENST00000456205  11.759075
77623   ENST00000458606  11.868009
31335   ENST00000461690  11.084246
64103   ENST00000461941  10.280250
50640   ENST00000462323  -8.118631
26360   ENST00000467436   3.579843
82107   ENST00000469736  11.579703
97293   ENST00000471396  11.488346
50647   ENST00000475231   3.979740
50653   ENST00000480843   3.979740
70011   ENST00000481409   3.842416
33412   ENST00000489295   4.980545
86749   ENST00000490017  11.528347
78379   ENST00000495315   1.525173
97296   ENST00000496222  11.488346

# sample_66-D

In [33]:
import pandas as pd

In [34]:
df=pd.read_csv("ENST ID values.csv")
df

                 ID_REF     VALUE
0       ENST00000373020  4.201551
1       ENST00000431386  2.359496
2       ENST00000494424  4.090110
3       ENST00000496771  3.524604
4       ENST00000373031  4.723506
...                 ...       ...
121740  ENST00000379695  5.550492
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [35]:
sample_66=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
sample_66

                 ID_REF      VALUE
8393    ENST00000355812   1.291287
10915   ENST00000418823  -0.829959
13625   ENST00000407724  13.847768
26291   ENST00000398569   4.051089
26294   ENST00000434085   4.552660
26360   ENST00000467436   4.181700
27096   ENST00000330266  -3.407865
27105   ENST00000405975  -3.407865
27109   ENST00000415080   3.247010
31335   ENST00000461690  10.901857
33399   ENST00000305777   3.927951
33412   ENST00000489295   4.642878
49507   ENST00000413152   3.547001
50640   ENST00000462323   3.731118
50647   ENST00000475231   2.482538
50653   ENST00000480843   2.482538
52044   ENST00000411781  11.865914
62214   ENST00000369365  12.354105
64103   ENST00000461941  10.559410
64825   ENST00000358459   2.339537
70011   ENST00000481409   4.011294
71702   ENST00000431642  11.293465
75540   ENST00000420419  11.319070
77622   ENST00000431758  11.888791
77623   ENST00000458606  11.888791
78379   ENST00000495315  -2.890412
80429   ENST00000343854   0.625626
82107   ENST00000469736  11.361070
85110   ENST00000449813  12.565319
86743   ENST00000356026  11.628059
86749   ENST00000490017  11.628059
95363   ENST00000423372  13.453383
97293   ENST00000471396  11.562985
97296   ENST00000496222  11.562985
98705   ENST00000436646  10.255081
107692  ENST00000427071  12.952884
113006  ENST00000456205  12.709746

In [36]:
sample_66_sorted=sample_66.sort_values(by='ID_REF')
sample_66_sorted

                 ID_REF      VALUE
33399   ENST00000305777   3.927951
27096   ENST00000330266  -3.407865
80429   ENST00000343854   0.625626
8393    ENST00000355812   1.291287
86743   ENST00000356026  11.628059
64825   ENST00000358459   2.339537
62214   ENST00000369365  12.354105
26291   ENST00000398569   4.051089
27105   ENST00000405975  -3.407865
13625   ENST00000407724  13.847768
52044   ENST00000411781  11.865914
49507   ENST00000413152   3.547001
27109   ENST00000415080   3.247010
10915   ENST00000418823  -0.829959
75540   ENST00000420419  11.319070
95363   ENST00000423372  13.453383
107692  ENST00000427071  12.952884
71702   ENST00000431642  11.293465
77622   ENST00000431758  11.888791
26294   ENST00000434085   4.552660
98705   ENST00000436646  10.255081
85110   ENST00000449813  12.565319
113006  ENST00000456205  12.709746
77623   ENST00000458606  11.888791
31335   ENST00000461690  10.901857
64103   ENST00000461941  10.559410
50640   ENST00000462323   3.731118
26360   ENST00000467436   4.181700
82107   ENST00000469736  11.361070
97293   ENST00000471396  11.562985
50647   ENST00000475231   2.482538
50653   ENST00000480843   2.482538
70011   ENST00000481409   4.011294
33412   ENST00000489295   4.642878
86749   ENST00000490017  11.628059
78379   ENST00000495315  -2.890412
97296   ENST00000496222  11.562985

# sample_67-D

In [37]:
import pandas as pd

In [38]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.117310
1       ENST00000431386  2.037951
2       ENST00000494424  4.055979
3       ENST00000496771  3.584958
4       ENST00000373031  4.576474
...                 ...       ...
121740  ENST00000379695  5.361830
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [39]:
#sample_67=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
#sample_67

                 ID_REF      VALUE
8393    ENST00000355812   2.341129
10915   ENST00000418823  -0.890929
13625   ENST00000407724  13.661096
26291   ENST00000398569   4.307245
26294   ENST00000434085   3.301537
26360   ENST00000467436   4.234796
27096   ENST00000330266  -2.549789
27105   ENST00000405975  -2.549789
27109   ENST00000415080  -2.510189
31335   ENST00000461690  10.994947
33399   ENST00000305777   4.387066
33412   ENST00000489295   4.596425
49507   ENST00000413152   4.442345
50640   ENST00000462323  -7.475838
50647   ENST00000475231  -7.496862
50653   ENST00000480843  -7.496862
52044   ENST00000411781  11.567876
62214   ENST00000369365  12.108380
64103   ENST00000461941  10.628328
64825   ENST00000358459   2.443014
70011   ENST00000481409   4.117304
71702   ENST00000431642  11.135561
75540   ENST00000420419  11.596652
77622   ENST00000431758  11.836071
77623   ENST00000458606  11.836071
78379   ENST00000495315  -3.146748
80429   ENST00000343854  -0.335785
82107   ENST00000469736  11.517695
85110   ENST00000449813  12.365185
86743   ENST00000356026  11.556823
86749   ENST00000490017  11.556823
95363   ENST00000423372  14.521385
97293   ENST00000471396  11.800724
97296   ENST00000496222  11.800724
98705   ENST00000436646  10.020601
107692  ENST00000427071  12.822495
113006  ENST00000456205  12.300750

In [40]:
#sample_67_sorted=sample_67.sort_values(by='ID_REF')
#sample_67_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.387066
27096   ENST00000330266  -2.549789
80429   ENST00000343854  -0.335785
8393    ENST00000355812   2.341129
86743   ENST00000356026  11.556823
64825   ENST00000358459   2.443014
62214   ENST00000369365  12.108380
26291   ENST00000398569   4.307245
27105   ENST00000405975  -2.549789
13625   ENST00000407724  13.661096
52044   ENST00000411781  11.567876
49507   ENST00000413152   4.442345
27109   ENST00000415080  -2.510189
10915   ENST00000418823  -0.890929
75540   ENST00000420419  11.596652
95363   ENST00000423372  14.521385
107692  ENST00000427071  12.822495
71702   ENST00000431642  11.135561
77622   ENST00000431758  11.836071
26294   ENST00000434085   3.301537
98705   ENST00000436646  10.020601
85110   ENST00000449813  12.365185
113006  ENST00000456205  12.300750
77623   ENST00000458606  11.836071
31335   ENST00000461690  10.994947
64103   ENST00000461941  10.628328
50640   ENST00000462323  -7.475838
26360   ENST00000467436   4.234796
82107   ENST00000469736  11.517695
97293   ENST00000471396  11.800724
50647   ENST00000475231  -7.496862
50653   ENST00000480843  -7.496862
70011   ENST00000481409   4.117304
33412   ENST00000489295   4.596425
86749   ENST00000490017  11.556823
78379   ENST00000495315  -3.146748
97296   ENST00000496222  11.800724

# sample_68-D

In [41]:
import pandas as pd

In [42]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.232820
1       ENST00000431386  1.337978
2       ENST00000494424  4.060494
3       ENST00000496771  3.635790
4       ENST00000373031  4.719640
...                 ...       ...
121740  ENST00000379695  5.460953
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [43]:
#sample_68=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
#sample_68

                 ID_REF      VALUE
8393    ENST00000355812   3.293333
10915   ENST00000418823  -0.934375
13625   ENST00000407724  13.404092
26291   ENST00000398569   3.976234
26294   ENST00000434085   5.108105
26360   ENST00000467436   3.946085
27096   ENST00000330266  -3.772424
27105   ENST00000405975  -3.772424
27109   ENST00000415080  -3.708675
31335   ENST00000461690  10.816663
33399   ENST00000305777   4.230561
33412   ENST00000489295   4.697084
49507   ENST00000413152   3.870262
50640   ENST00000462323   0.441683
50647   ENST00000475231   5.142780
50653   ENST00000480843   5.142780
52044   ENST00000411781  11.773880
62214   ENST00000369365  12.407453
64103   ENST00000461941  10.785894
64825   ENST00000358459  -3.259810
70011   ENST00000481409   4.099888
71702   ENST00000431642  11.792219
75540   ENST00000420419  11.820237
77622   ENST00000431758  11.818897
77623   ENST00000458606  11.818897
78379   ENST00000495315   1.379122
80429   ENST00000343854   1.211193
82107   ENST00000469736  11.648184
85110   ENST00000449813  12.040043
86743   ENST00000356026  11.288749
86749   ENST00000490017  11.288749
95363   ENST00000423372  14.269428
97293   ENST00000471396  11.496728
97296   ENST00000496222  11.496728
98705   ENST00000436646   9.911056
107692  ENST00000427071  12.698591
113006  ENST00000456205  12.521244

In [44]:
#sample_68_sorted=sample_68.sort_values(by='ID_REF')
#sample_68_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.230561
27096   ENST00000330266  -3.772424
80429   ENST00000343854   1.211193
8393    ENST00000355812   3.293333
86743   ENST00000356026  11.288749
64825   ENST00000358459  -3.259810
62214   ENST00000369365  12.407453
26291   ENST00000398569   3.976234
27105   ENST00000405975  -3.772424
13625   ENST00000407724  13.404092
52044   ENST00000411781  11.773880
49507   ENST00000413152   3.870262
27109   ENST00000415080  -3.708675
10915   ENST00000418823  -0.934375
75540   ENST00000420419  11.820237
95363   ENST00000423372  14.269428
107692  ENST00000427071  12.698591
71702   ENST00000431642  11.792219
77622   ENST00000431758  11.818897
26294   ENST00000434085   5.108105
98705   ENST00000436646   9.911056
85110   ENST00000449813  12.040043
113006  ENST00000456205  12.521244
77623   ENST00000458606  11.818897
31335   ENST00000461690  10.816663
64103   ENST00000461941  10.785894
50640   ENST00000462323   0.441683
26360   ENST00000467436   3.946085
82107   ENST00000469736  11.648184
97293   ENST00000471396  11.496728
50647   ENST00000475231   5.142780
50653   ENST00000480843   5.142780
70011   ENST00000481409   4.099888
33412   ENST00000489295   4.697084
86749   ENST00000490017  11.288749
78379   ENST00000495315   1.379122
97296   ENST00000496222  11.496728

# sample_69-D

In [47]:
import pandas as pd

In [48]:
#df=pd.read_csv("ENST ID values.csv")
#df

                 ID_REF     VALUE
0       ENST00000373020  4.250806
1       ENST00000431386  1.266971
2       ENST00000494424  4.224099
3       ENST00000496771  3.562601
4       ENST00000373031  4.684304
...                 ...       ...
121740  ENST00000379695  5.454953
121741              NaN       NaN
121742              NaN       NaN
121743              NaN       NaN
121744                        NaN

[121745 rows x 2 columns]

In [49]:
#sample_69=df[df['ID_REF'].isin(['ENST00000427071','ENST00000490017','ENST00000356026','ENST00000469736','ENST00000407724','ENST00000436646','ENST00000461941',
 'ENST00000369365','ENST00000456205','ENST00000423372','ENST00000449813','ENST00000431642','ENST00000411781','ENST00000431758',
 'ENST00000458606','ENST00000420419','ENST00000471396','ENST00000496222','ENST00000461690','ENST00000358459','ENST00000398569',
 'ENST00000489295','ENST00000305777','ENST00000330266','ENST00000415080','ENST00000481409','ENST00000418823','ENST00000475231',
 'ENST00000480843','ENST00000405975','ENST00000413152','ENST00000355812','ENST00000343854','ENST00000495315','ENST00000434085',
'ENST00000467436','ENST00000462323'])]
#sample_69

                 ID_REF      VALUE
8393    ENST00000355812   2.743454
10915   ENST00000418823  -1.057165
13625   ENST00000407724  13.626842
26291   ENST00000398569  -0.765126
26294   ENST00000434085   4.484494
26360   ENST00000467436   3.929201
27096   ENST00000330266  -3.420387
27105   ENST00000405975  -3.420387
27109   ENST00000415080  -3.364231
31335   ENST00000461690  10.590212
33399   ENST00000305777   4.317449
33412   ENST00000489295   4.681260
49507   ENST00000413152  -3.464521
50640   ENST00000462323  -3.329633
50647   ENST00000475231   5.272234
50653   ENST00000480843   5.272234
52044   ENST00000411781  11.568352
62214   ENST00000369365  12.666062
64103   ENST00000461941  10.706592
64825   ENST00000358459   1.803664
70011   ENST00000481409   3.986936
71702   ENST00000431642  11.344040
75540   ENST00000420419  11.665057
77622   ENST00000431758  12.163609
77623   ENST00000458606  12.163609
78379   ENST00000495315  -3.008029
80429   ENST00000343854  -0.522518
82107   ENST00000469736  11.210975
85110   ENST00000449813  12.349741
86743   ENST00000356026  11.463132
86749   ENST00000490017  11.463132
95363   ENST00000423372  13.628763
97293   ENST00000471396  11.581734
97296   ENST00000496222  11.581734
98705   ENST00000436646  10.048426
107692  ENST00000427071  12.591592
113006  ENST00000456205  12.935412

In [50]:
#sample_69_sorted=sample_69.sort_values(by='ID_REF')
#sample_69_sorted

                 ID_REF      VALUE
33399   ENST00000305777   4.317449
27096   ENST00000330266  -3.420387
80429   ENST00000343854  -0.522518
8393    ENST00000355812   2.743454
86743   ENST00000356026  11.463132
64825   ENST00000358459   1.803664
62214   ENST00000369365  12.666062
26291   ENST00000398569  -0.765126
27105   ENST00000405975  -3.420387
13625   ENST00000407724  13.626842
52044   ENST00000411781  11.568352
49507   ENST00000413152  -3.464521
27109   ENST00000415080  -3.364231
10915   ENST00000418823  -1.057165
75540   ENST00000420419  11.665057
95363   ENST00000423372  13.628763
107692  ENST00000427071  12.591592
71702   ENST00000431642  11.344040
77622   ENST00000431758  12.163609
26294   ENST00000434085   4.484494
98705   ENST00000436646  10.048426
85110   ENST00000449813  12.349741
113006  ENST00000456205  12.935412
77623   ENST00000458606  12.163609
31335   ENST00000461690  10.590212
64103   ENST00000461941  10.706592
50640   ENST00000462323  -3.329633
26360   ENST00000467436   3.929201
82107   ENST00000469736  11.210975
97293   ENST00000471396  11.581734
50647   ENST00000475231   5.272234
50653   ENST00000480843   5.272234
70011   ENST00000481409   3.986936
33412   ENST00000489295   4.681260
86749   ENST00000490017  11.463132
78379   ENST00000495315  -3.008029
97296   ENST00000496222  11.581734